{% for flashMessage in app.session.flashbag.get('success') %}
<div data-alert class="alert-box alert-success">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close"></a>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
<div data-alert class="alert alert-box alert-info">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close"></a>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div data-alert class="alert alert-box alert-warning">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close"></a>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div data-alert class="alert alert-box alert-light">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close"></a>
</div>
{% endfor %}