{% for flashMessage in app.session.flashbag.get('success') %}
<div data-alert class="alert-box alert success radius position-relative">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close">&times;</a>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('info') %}
<div data-alert class="alert-box alert info radius position-relative">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close">&times;</a>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('notice') %}
<div data-alert class="alert-box alert warning radius position-relative">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close">&times;</a>
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div data-alert class="alert-box alert radius position-relative">
	<span class="alert-icon">&nbsp;</span>
    {{ flashMessage|raw }}
    <a data-dismiss="alert" class="close">&times;</a>
</div>
{% endfor %}