<div class="db-rating-stars clearfix">
    <a href="javascript:void(0);" id="rate-1">1</a>
    <a href="javascript:void(0);" id="rate-2">2</a>
    <a href="javascript:void(0);" id="rate-3">3</a>
    <a href="javascript:void(0);" id="rate-4">4</a>
    <a href="javascript:void(0);" id="rate-5">5</a>
    <span id="rating_text"></span>
</div>
<div style="display:none">{{ form_widget(attribute(form, field)) }}</div>
{{ form_errors(attribute(form, field)) }}