{% extends 'FaFrontendBundle::layout.html.twig' %}

{% block page_title %}
    Page Gone | Friday-Ad
{% endblock %}
{% block body %}
	<div class="container">	
        <div class="row text-center error-page">
        	<div class="col m-auto">
                <div  class="bg-img410"></div>
                {% if status_text %}
                    <h1>{{ status_text }}</h1>
                {% else %}
                    <h1>Congratz! You’ve found the 410 Error page!</h1>
                {% endif %}
                <h2 class="ptop_spac">Next, find something you really want from the search bar below or visit</h2>
                <a href="{{ path('fa_frontend_homepage') }}" class="hp-link">Friday Ad homepage</a>
                {{ render(controller('FaAdBundle:AdList:topSearch', { 'searchParams': searchParams is defined ? searchParams : {}, 'isErrorSearch': true } )) }}
            </div>
          </div>
     </div>
{% endblock %}

{% block dimension2 %}
<script language="javascript" type="text/javascript">
//<![CDATA[
    {% if app.user.getId() is not defined or app.user.getId() is null %}
    	ga('set', 'dimension9', 'not logged in');
    {% else %}
    	ga('set', 'dimension9', 'logged in');
    {% endif %}
    ga('send', 'pageview', {'dimension1': defLocationText, 'dimension2':  '_410_page'{% if app.request.get('ti_url') %} ,'dimension8': '{{ app.request.get('ti_url') }}' {% endif %}});
//]]>
</script>
{% endblock %}