<div id="UnnecessaryQueryParamsDiv">
    <b>Add Unnecessary Query Params:</b>
    <br>
    <i>Eg URL: /P/all-adverts-for-sale/something?q=name&search=time </i>
    <br>
    <p style="padding-left: 10px">
        OData: 'P', 'all-adverts-for-sale', 'something'
        <br>
        Query Param: 'q', 'search'
    </p>
    <div>
{#        <div class="status-toggle">#}
{#            <button type="button" data-on="Enabled" data-off="Disabled" class="">-</button>#}
{#        </div>#}
        <div class="select" style="margin-top: 52px;">
            <b>Query Params</b>
            <br>
            <table id="unnecessary_query_params" style="width: 100%" data-rule="unnecessary_query_params" class="dataTable display">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th class="action">Action</th>
                </tr>
                </thead>
            </table>
        </div>

        <button class="bulk-upload-button" data-toggle-handle="unnecessary_query_params" data-tab="Unnecessary Query Params">Bulk Upload</button>
    </div>

    <div>
        <div class="select" style="margin-top: 52px;">
            <b>OData Params</b>
            <br>
            <table id="unnecessary_odata_params" style="width: 100%" data-rule="unnecessary_odata_params" class="dataTable display">
                <thead>
                <tr>
                    <th>Parameter</th>
                    <th class="action">Action</th>
                </tr>
                </thead>
            </table>
        </div>

        <button class="bulk-upload-button" data-toggle-handle="unnecessary_odata_params" data-tab="Unnecessary OData Params">Bulk Upload</button>
    </div>

</div>