{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
{% set newsletterTypeRepository = fetch_repository('FaDotMailerBundle:DotmailerNewsletterType') %}
{% set container = fetch_container_instance() %}
{% set newsletterMainCategoryArray = newsletterTypeRepository.getMainCategoryArray(container) %}


{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('build/css/newsletter.css') }}"/>
{% endblock %}

{% block body %}
    <div class="newsletter-main-section">
{#        {{ include('FaUserBundle:Newsletter:newsletter-css.html.twig')}}#}
        {{ include('FaUserBundle:Newsletter:newsletter.html.twig', {'userNewsletterPrefForm': form, 'newsletterMainCategoryArray': newsletterMainCategoryArray|keys, 'is_unsubscribe': 1}) }}
    </div>
{% endblock %}

{% block scriptbottom %}
<script src="{{ asset_url('fafrontend/js/jquery.equalizer.min.js') }}"></script>
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        $('.element_toggle').click(function(){
            var targetElement = $(this).attr('id')+'_target';
            $(this).toggleClass("tab-down tab-up");
            $('#'+targetElement).toggle();
            if($('#'+targetElement).is(':visible')) {
                var selectMenuId = ($(this).attr('id').replace('element_toggle', "fa_paa_fourth_step_adult"));
                if ($('#'+selectMenuId).hasClass('fa-select')) {
                    $('#'+selectMenuId).selectmenu('refresh');
                }
            }
        });
    });
//]]>
</script>
{% endblock %}