{% extends 'FaFrontendBundle::layout.html.twig' %}
{% form_theme form 'FaFrontendBundle:Form:fields.html.twig' %}
{% set newsletterTypeRepository = fetch_repository('FaDotMailerBundle:DotmailerNewsletterType') %}
{% set container = fetch_container_instance() %}
{% set newsletterMainCategoryArray = newsletterTypeRepository.getMainCategoryArray(container) %}

{% block body %}
<div id="fa-news-pref">
	<div class="row">
	    <div class="columns">
	        {{ include('FaUserBundle:MyAccount:myNewsletterPref.html.twig', {'userNewsletterPrefForm': form, 'newsletterMainCategoryArray': newsletterMainCategoryArray|keys, 'is_unsubscribe': 1}) }}
	    </div>
	</div>
</div>
{% endblock %}

{% block scriptbottom %}
<script src="{{ asset_url('fafrontend/js/jquery.equalizer.min.js') }}"></script>
<script language="javascript" type="text/javascript">
//<![CDATA[
    $(document).ready(function(){
        unsubscribeFromAll();
        bindEqualizerEvent('newsletter_equalizer');
    });

    function unsubscribeFromAll() {
        if ($('#user_newsletter_dotmailer_newsletter_unsubscribe').is(':checked')) {
            $("input[name='user_newsletter[dotmailer_newsletter_type_id][]']").attr('checked', false);
            $('#newsletter_categories span.checked').removeClass('checked');
        }

        $("#user_newsletter_dotmailer_newsletter_unsubscribe").click(function() {
            if ($('#user_newsletter_dotmailer_newsletter_unsubscribe').is(':checked')) {
                $("input[name='user_newsletter[dotmailer_newsletter_type_id][]']").attr('checked', false);
                $('#newsletter_categories span.checked').removeClass('checked');
            }
        });

        $("input[name='user_newsletter[dotmailer_newsletter_type_id][]']").click( function () {
            if ($(this).is(':checked')) {
                $("#user_newsletter_dotmailer_newsletter_unsubscribe").attr('checked', false);
                $('#user_newsletter_dotmailer_newsletter_unsubscribe').parent().removeClass('checked');
            }
        });
    }

    function bindEqualizerEvent(equalizerId)
    {
        $('#'+equalizerId).equalizer({
            columns: '> div',
            useHeight: 'height',
            resizeable: true,
            min: 0,
            breakpoint: null,
            disabled: 'breakpoint',
            overflow: 'overflowed'
        });
    }
//]]>
</script>
{% endblock %}