{% set container = fetch_container_instance() %}
{# {% cache 'home|page|'~location_id~'front/home_page_footer' (staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'isBot', [container]) ? 600 : 1800) %} #}
{% set getNoFollowLink = fetch_repository('FaEntityBundle:Category').getCategoryNoFollowLink(app.request.get('searchQueryString')) %}
<ul class="footer__list accordion-dropdown">
    {% if footerCategories|length %}
    {% for categoryId, categoryArray in footerCategories %}
        {% if categoryArray['category_name'] is defined %}
                {% if categoryArray['category_id'] == constant('Fa\\Bundle\\EntityBundle\\Repository\\CategoryRepository::ADULT_ID') %}
                    {% set listurl = path('fa_new_adult_homepage') %}
                {% else %}
                    {% set listurl = container.get('fa_ad.manager.ad_routing').getCategoryUrl(location_id, categoryArray['category_full_slug']) %}
                {% endif %}
                <li class="footer__item">
                    <a href="{{ listurl }}" class="footer__link" {% if getNoFollowLink  %}rel="nofollow"{% endif %}>
                        {{categoryArray['category_name']}}
                    </a>
                </li>
            {% endif %}
    {% endfor %}
{% endif %}
</ul>

{# {% endcache %} #}
