@font-face {
    font-family: 'ApaxThree-Regular';
    src: url('/bundles/faad/fonts/ApaxThree-Regular.eot?#iefix') format('embedded-opentype'), url('/bundles/faad/fonts/ApaxThree-Regular.otf') format('opentype'),
    url('/bundles/faad/fonts/ApaxThree-Regular.woff') format('woff'), url('/bundles/faad/fonts/ApaxThree-Regular.ttf') format('truetype'), url('/bundles/faad/fonts/ApaxThree-Regular.svg#ApaxThree-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ApaxThree-Bold';
    src: url('/bundles/faad/fonts/ApaxThree-Bold.eot?#iefix') format('embedded-opentype'), url('/bundles/faad/fonts/ApaxThree-Bold.otf') format('opentype'),
    url('/bundles/faad/fonts/ApaxThree-Bold.woff') format('woff'), url('/bundles/faad/fonts/ApaxThree-Bold.ttf') format('truetype'), url('/bundles/faad/ApaxThree-Bold.svg#ApaxThree-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

.get_online_decision {
    background: #fff;
    background-image: url("/bundles/faad/images/Zuto_TP_Anton_Large.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    margin: 0 !important;
}

.get_online_decision .apply-new-block {
    width: 100%;
    display: inline-flex;
}

.get_online_decision .apply-new-block img{
    height: 56px;
}

.get_online_decision .apply-new-left {
    width: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.get_online_decision .apply-new-right {
    width: 65%;
    padding: 10px;
}

.get_online_decision h2.detail-head {
    font-size: 26px;
    line-height: 32px;
    margin: 0;
    font-family: 'ApaxThree-Bold';
}

.get_online_decision select {
    background-position: right 12px top 6px;
    position: relative;
    background-image: url(/bundles/faad/images/arrow-down.svg);
    height: 35px;
    border: 1px solid #e3e3e3;
    outline: 0;
    padding: 0 10px;
    background-color: #fff;
    font-family: 'ApaxThree-Regular';
}

.get_online_decision ul {
    margin-bottom: 0;
    font-family: 'ApaxThree-Regular';
}

.get_online_decision ul li {
    font-size: 16px;
    line-height: 24px;
    list-style-type: disc;
}

.get_online_decision .button {
    font-size: 14px;
    padding: 6px 30px;
    background-color: #a8dc28;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    height: 35px;
    font-family: 'ApaxThree-Regular';
}

.get_online_decision .button:hover, .get_online_decision .button:active {
    background-color: #9bcc21;
}

.get_online_decision span {
    text-align: right;
    margin-top: 8px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    font-family: 'ApaxThree-Regular';
}

.get_online_decision .button:after {
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    /*background-image: url(/bundles/faad/images/arrow-right.svg);*/
    right: 0;
    top: 7px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    background-size: 7px 12px;
    background-position: center;
}

.get_online_decision .form-new-block {
    width: 100%;
    display: inline-flex;
}

.get_online_decision .desktop-form-block {
    width: 55% !important;
}

.get_online_decision .form-block-1, .get_online_decision .form-block-2 {
    width: 44%;
    display: inline-flex;
    margin-right: 15px;
}

.get_online_decision .expand-cont {
    width: 100%;
    margin-left: 5px;
}

@media only screen and (min-width: 760px) and (max-width: 959px) {
    .get_online_decision .desktop-form-block {
        width: 70% !important;
    }

    .get_online_decision .form-block-1, .get_online_decision .form-block-2 {
        width: 44%;
    }

    .get_online_decision .button {
        padding: 6px 20px;
    }

    .get_online_decision {
        background-image: none;
    }

    .get_online_decision .apply-new-right {
        width: 85%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .get_online_decision .form-new-block {
        display: inline-block;
    }

    .get_online_decision {
        background-image: none;
    }

    .get_online_decision .apply-new-right {
        width: 100%;
    }

    .get_online_decision .mobile-form-block {
        display: inline-flex;
        width: 100% !important;
    }

    .get_online_decision .form-block-1, .get_online_decision .form-block-2 {
        width: 50%;
        display: inline-block;
        margin-right: 15px;
    }

    .get_online_decision .expand-cont {
        margin-left: 0;
    }

    .get_online_decision .form-bottom-logo {
        width: 50%;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .get_online_decision .mobile-logo-button {
        width: 100%;
        display: inline-flex;
    }

    .get_online_decision .button {
        font-size: 21px;
        padding: 10px 10px;
        background-color: #a8dc28;
        border: #a8dc28;
        border-radius: 5px;
        font-weight: 700;
        position: relative;
        height: 49px;
        text-align: left;
        margin: 0 15px;
    }

    .get_online_decision .button:hover, .get_online_decision .button:active {
        background-color: #9bcc21;
    }

    .get_online_decision .button:after {
        right: 7px;
        top: 12px;
        background-size: 9px 15px;
    }
}
