{% set container = fetch_container_instance() %}
<a class="close-reveal-modal" href="javascript:void(0)" onClick="return $('#createHalfAccountModal').foundation('reveal', 'close');">&#215;</a>
<h5 class="modal-title save-search-title">{{ 'Create a new alert'|trans({}, 'frontend-half-account') }}</h5>
<div class="modal-content">
    <h5>{{ 'You will receive an email alert if we find more ads that match this search. Please enter your details below.'|trans({}, 'frontend-half-account') }}</h5>
    <div id="createHalfAccountModalForm">{{ include('FaUserBundle:HalfAccount:createForm.html.twig') }}</div>
</div>