<script>
    $(document).ready(function() {
        $("#filter-category").select2({placeholder: "Select Category"});
        $('#filter-category').change(function () {
            var categoryId = $('#filter-category').select2('data').id;
            get_lhs_date(categoryId);
        }).change();
    });
    function get_lhs_date(categoryId) {
        blockPage();
        $.ajax({
            type: "POST",
            url: "{{path('seo_dimension_list')}}",
            data: {
                category_id: categoryId,
            }
        })
        .done(function(response) {
            if(response){
                $("#dimension-list-body tr").remove();
                $.each(response, function(i, item) {
                    $("#dimension-list-body").append(
                        '<tr data-dimension-id="'+item.id+'">' +
                        '<td class="priority">'+item.id+'</td>' +
                        '<td class="name">'+item.name+'</td>'+
                        '<td class="category">'+item.category.name+'</td>'+
                        '<td class="action">' +  (item.is_searchable == 1 ? '<a class="btn active">Enabled</a>' : '<a class="btn">Disabled</a>') + '</td></tr>'
                    );
                });
            }
            unblockPage();
            initSorting();
        });
    }

    function get_category_filter_order() {
        var categoryId = $('#filter-category').select2('data').id;
        blockPage();
        $.ajax({
            type: "POST",
            url: "{{path('lhs_filter_category_order')}}",
            data: {
                category_id: categoryId
            }
        })
            .done(function(response) {
                unblockPage();
                var order = [];
                var indexCount = 1;
                if (response.order) {
                    $.each(response.order.split(','), function (key, dimensionId) {
                        var row = $('#dimension-list tr[data-dimension-id=' + dimensionId + ']');
                        $(row).addClass('active').find('a.btn').addClass('active').html('Enabled');
                        $(row).attr('order', indexCount).find('.priority').html(indexCount++);
                        order.push(row);
                        row.remove()
                    });
                }
                var remainingRows = $('#dimension-list tr[data-dimension-id]');
                $.each(remainingRows, function (index, row) {
                    $(row).removeClass('active').find('a.btn').removeClass('active').html('Disabled');
                    $(row).attr('order', indexCount).find('.priority').html(indexCount++);
                    order.push(row);
                });
                remainingRows.remove();
                $('#dimension-list tbody').append(order);
                initSorting()
            });
    }
    function initSorting() {
        // Enable/Disable button in table rows.
        $('#dimension-list .action a.btn').click(function() {
            $(this).toggleClass('active');
            var is_active = $(this).hasClass('active');
            var dim_id = $(this).parents('tr').data('dimension-id');
            update_dimension(dim_id,is_active);
            if (is_active) {
                $(this).html('Enabled');
                $(this).parents('tr').addClass('active');
            } else  {
                $(this).html('Disabled');
                $(this).parents('tr').removeClass('active');
            }
        });
    }
    function update_dimension(dimension,status){
         blockPage();
        $.ajax({
            type: "POST",
            url: "{{path('lhs_filter_category_status_update')}}",
            data: {
                data: {
                    'dimension' : dimension,
                    'status'    : ((status) ? 1 : 0),
                }
            }
        })
        .done(function(data) {
            unblockPage();
        });
    }
</script>