<div class="row">
    <div class="columns">
        <h1 class="left">{{ heading }}</h1>
        {% if isAddNew is not defined %}
            {% if fa_resource_authorization_manager.isGranted(addNewRoute) %} <a href="{{ path(addNewRoute) }}" class="right tiny button add_user_btn">{{ 'Add New'|trans({}, 'messages') }}</a> {% endif %}
        {% endif %}
    </div>
</div>