{% if staticPages|length %}
    {% set staticPageCounter = 1 %}
    {% for staticPage in staticPages %}
        {% if staticPage['slug'] matches '/^[a-z-]+$/i' %}
            {% if staticPageCounter == 2 %}

            {% endif %}
            {% if staticPage['include_in_footer'] == 1 %}
                <li class="footer__item">
                    <a class="footer__link" href="{{ path('location_home_page', {'location': staticPage['slug']}) }}">
                        {{staticPage['title']}}
                    </a>
                </li>
                {% if staticPage['slug'] == 'about-us' %}
                    <li class="footer__item">
                	    <a href="https://help.friday-ad.co.uk/hc/en-us" class="footer__link" target="__blank">{{ 'Help Centre'|trans }}</a>
                    </li>
                {% endif %}
                {% set staticPageCounter = staticPageCounter + 1 %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}