<div class="modal-dialog"><div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title save-search-title no-icon-title"> {{'Invalid location'|trans({}, 'frontend-invalid-location')}}</h5>
		    <button class="close-modal" class="close" data-dismiss="modal">×</button>
		</div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <h5>{{ 'Sorry no location available with such name.'|trans({}, 'frontend-invalid-location') }}</h5>
                </div>
            </div>
            <div class="mt20 remove-item-btn">
                <div class="row">
                    <div class="col-lg-24 col-md-24">
                        <button type="button" class="button secondary-btn-4 thin-btn expand" onclick="closeRevealModel('#{{ modalId }}');">{{'Close'|trans({}, 'frontend-invalid-location')}}</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </div>
  