<div class="modal-dialog"><div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title save-search-title"> {{'Invalid location'|trans({}, 'frontend-invalid-location')}}</h5>
		    <button class="close-modal" class="close" data-dismiss="modal">×</button>
		</div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <h5>{{ 'Sorry no location available with such name.'|trans({}, 'frontend-invalid-location') }}</h5>
                </div>
            </div>
            <div class="mt20 remove-item-btn">
                <div class="row">
                    <div class="col-lg-24 col-md-24">
                        <button type="button" class="btn btn-block secondary-btn-2 thin-btn" onclick="closeRevealModel('#{{ modalId }}');">{{'Close'|trans({}, 'frontend-invalid-location')}}</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
  </div>
  