{% set className = fetch_repository('FaEntityBundle:Category').getSubtitleClassname(categoryId, fetch_container_instance()) %}

<div id="subtitle_preview" class="paa-subtitle-img {{ className }}"></div>