<div class="img-upload-layer droppable" style="display:none" id="drag_drop_container">
    <div class="img-upload-ins"><span class="drag-ins-hr">{{'Drop images here to upload.'|trans({}, 'frontend-paa')}}</span></div>
</div>