.adul-logo { height: 60px !important;line-height: 55px !important; }
.name a.adul-logo img { content: url('/bundles/fafrontend/images/Fad-Adult-logo.svg') !important; }
.select2-chkbox { column-count: 2; }
.select2-chkbox li { padding-right: 0px;vertical-align: middle;display: inline-flex;width: 100%; }
.select2-chkbox li .select2-match:before { 
   content: "";display: inline-block;position: relative;height: 20px;width: 20px;border: 1px solid #CBD5D9;margin-right: 10px;vertical-align: middle;
}
.select-with-checkbox .select2-result-selectable .select2-match:after { background-color: green; }


/* Blog Homepage */
 .adul-hp [class*="column"] + [class*="column"]:last-child { float: left !important; }
.blog-item { border: 1px solid #CBD5D9;border-radius: 4px;margin-bottom: 20px; }
.blog-item:hover, .blog-item:focus { border: 1px solid #9C1F9F; }
.blog-item .list-img { width: 100%;height: 235px;border-bottom: 1px solid #e4e4e4;text-align: center; }
.blog-item .list-img img { max-width: 100%;max-height: 235px;height: 100%;width: 100%; }
.blog-item .list-img img { position: relative;top: 50%;-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%); }
.blog-item .blog-cont { padding: 10px 15px;min-height: 94px; }
.blog-item .list-title { color: #212527;font-size: 16px;line-height: 21px;font-weight: normal;max-height: 45px;min-height: 45px;overflow: hidden;margin-bottom: 10px; }
.blog-item .list-author-pub-date { font-size: 14px;line-height: 22px;color: #9C1F9F;font-weight: normal; }

.top-bar-section li:not(.has-form).place-item-btn a { 
	font-family: "Poppins-SemiBold" !important; text-align:center;height:60px !important; padding:18px 20px !important;font-size:18px !important; line-height:20px !important;
    font-weight: normal !important;text-transform: capitalize !important;
}
 a.mobpaabtn { font-family: "Poppins-SemiBold" !important; text-align:center;font-weight: normal !important;text-transform: capitalize !important; }

/* Popular Searches Homepage */
.btn-transparent {
    background: transparent !important;
    color: #9C1F9F !important;
    margin-right: 4px;
}
.btn-transparent:hover, .btn-transparent:focus {
    color: #ffffff !important;
}
.ga-ahpPopularSearch, a.ga-ahpPopularSearch:hover, a.ga-ahpPopularSearch:focus {
	border: 1px solid #9C1F9F !important;
}

/* Featured Advertisers */
#featured_advertisers_slider .owl-prev, #featured_advertisers_slider .owl-next { height: 253px; }
#featured_advertisers_slider .item { width: 250px;min-height: 248px;padding: 0; }
#featured_advertisers_slider .list-img { width: 248px;height: 187px;border-bottom: 1px solid #e4e4e4; }
#featured_advertisers_slider .list-img img { max-width: 248px;max-height: 187px; }
#featured_advertisers_slider h3 { margin: 4px 10px 15px; }
#featured_advertisers_slider .profile-placeholder { width:100% !important;height:100% !important; }
#featured_advertisers_slider .profile-placeholder img { top:35% !important; }

/* Featured Top Ads */
#featured-top-item-slider { padding-left:0px }
#featured-top-item-slider .item { width: 202px;min-height: 200px;padding: 0;margin: 5px; }
#featured-top-item-slider .list-img { width: 200px;height: 147px;border-bottom: 0px solid #e4e4e4; padding: 10px; }
#featured-top-item-slider .list-img img { max-width: 200px;max-height: 147px; width: 100%;height: 100%; text-indent: -9999px; }
#featured-top-item-slider h3 { margin: 4px 10px 15px }
#featured-top-item-slider .owl-prev, #featured-top-item-slider .owl-next { height: 100%; }
#featured-top-item-slider .similar-placeholder img { height: auto !important; width: auto !important; margin: auto !important; position: absolute !important; top: 34% !important; left: 34% !important; }
#featured-top-item-slider .featured-ribbon { background: url('/bundles/fafrontend/images/adult/featured-ribbon.png') no-repeat;display: block;width: 67px;height: 67px;position: absolute;left: -6px;top: -6px;text-indent: 100%;overflow: hidden;white-space: nowrap;z-index: 1; } 

/* Latest Ads */
.latest-ads .card .item { width: 100%;min-height: 200px;padding: 0;border: 1px solid #CBD5D9 !important;background: #fff !important; }
.latest-ads .card .list-img { width: 100%;height: 147px;border-bottom: 0px solid #e4e4e4;padding: 15px;  }
.latest-ads .card .list-img img { max-width: 100%;max-height: 147px;height: 100%;width: max-content; }
.latest-ads .card h3 { padding: 0; font-size: 16px; line-height: 21px; margin: 10px; height: 45px; overflow: hidden; }
.latest-ads .list { padding-right: 13px;padding-left: 7px; }
.latest-ads .list .card  { background: #ffffff !important; }
.latest-ads .similar-placeholder img { height: auto !important;width: auto !important;margin: auto;position: absolute;top: 17%;left: 34%; }

/* Top Header */
.top-bar-section ul li > a.backtofad, .top-bar-section a.backtofad {
	padding-left: 12px !important;display: inline-block !important;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%226%22%20height%3D%2212%22%20viewBox%3D%22-1414%20465.9%206%2012%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3Anone%3Bstroke%3A%23ACB0B7%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D%0D%0A%3C/style%3E%3Ctitle%3Eselected%2011%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-23.000000%2C%20-521.000000%29%22%3E%3Cg%20transform%3D%22translate%28-12.000000%2C%20438.000000%29%22%3E%3Cg%20transform%3D%22translate%2826.000000%2C%2046.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-1400%20503.9l-4%205%204%205%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') 0px 4px no-repeat !important;
	background-position: 0px 24px !important;
}
.top-bar-section a.backtofad { color:#212527; }
/* Adult Homepage */
.browse-by-category {
    color: #ACB0B7;font-size: 14px;font-weight: normal !important;letter-spacing: 0;line-height: 21px;margin-bottom: 15px;
} 
.text-center {
    text-align: center !important;
}  
.adul-tagline-text { font-family: 'Parisienne', cursive !important;color: #FFFFFF  !important;font-size: 46px  !important;letter-spacing: 0  !important;line-height: 46px  !important;text-align: center  !important; }
.square-block-img img { border-radius:4px;height: 319px;max-height: 319px;  }
.top-bar-section ul#top_category_menu li { background:transparent !important; }  

/* Adult Homepage Search */
.adult-search {display: inline-flex;width: 100% !important; }
#home-search .adult-search .looking-for input[type="text"] {border-top-left-radius: 4px !important;border-bottom-left-radius: 4px !important;}
#home-search .adult-search table {margin-bottom: 0.5rem}
.search-input-box {width: 80%;}
.advanced-search-option {width: 20%; height: 40px; padding: 8px; text-align: right;}
.adult-color { color:#E62EEB;font-weight: normal;font-family: "Poppins-Bold"; }
#home-search .adult-loc-search.location { margin-top: 17px !important; }
.select2-drop-multi .select2-results { column-count: 2;background: #ffffff !important; }
.select2-drop-multi .select2-results li { border-bottom: 0px solid #fff; box-shadow: none; }
.select2-results__options[aria-multiselectable="true"] li { padding-left: 30px;position: relative }
.select2-results__options[aria-multiselectable="true"] li:before {
    position: absolute; left: 8px; opacity: .6; top: 6px; font-family: "FontAwesome"; content: "\f0c8";
}
.select2-results__options[aria-multiselectable="true"] li[aria-selected="true"]:before {
    content: "\f14a";
}
.select2-drop-multi .select2-results li .select2-match:before {
    content: ""; display: inline-block; position: relative; height: 21px; width: 21px; border-radius: 2px;
    border: 1px solid #CBD5D9; margin-right: 10px; vertical-align: middle; background-color: #EAEFF0
}
.select2-drop-multi .select2-results li .select2-result-label, .select2-results .select2-result-label {
  color: #212527; font-size: 12px; letter-spacing: 0; line-height: 18px;
}
.adul-search-form .select2-container-multi .select2-choices, .adul-search-form .select2-container .select2-choice, 
.adul-search-form .select2-container .select2-choice:hover, .adul-search-form .select2-container .select2-choice:focus, 
.adul-search-form .select2-container-multi.select2-container-active .select2-choices {
    background: #ffffff;
}
.from-sec {
    padding: 10px 10px 10px 10px; color: #ffffff !important;
}
.adult-radio-form { display: flex;margin: auto;width: fit-content; }

.adult-radio-form .custom-checkbox, .adult-radio-form .custom-checkbox.checked {
    width: 22px;height: 22px;margin: 0 8px 2px 0;
}
.adult-radio-form label { margin-right:10px; }

.fa-white-checkbox input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0;
    opacity: .0001;
    cursor: pointer;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%22-1407%20461.9%2020%2020%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3Bstroke%3A%23CBD5D9%3B%7D%0D%0A%3C/style%3E%3Ctitle%3EUnChecked%20box%201%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-192.000000%2C%20-1587.000000%29%22%3E%3Cg%20transform%3D%22translate%28182.000000%2C%20627.000000%29%22%3E%3Cg%20transform%3D%22translate%281.000000%2C%20645.000000%29%22%3E%3Cg%20transform%3D%22translate%280.000000%2C%20132.000000%29%22%3E%3Cg%20transform%3D%22translate%289.000000%2C%20183.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-1405%20461.9h16c1.1%200%202%200.9%202%202v16c0%201.1-0.9%202-2%202h-16c-1.1%200-2-0.9-2-2v-16C-1407%20462.8-1406.1%20461.9-1405%20461.9z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat;
    background-size: cover !important;
}
.fa-white-checkbox input[type="checkbox"]:checked {
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%200%200%2020%2020%22%3E%0D%0A%20%20%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%20%20%20%20%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3Bstroke%3A%23CBD5D9%3B%7D%0D%0A%09.st1%7Bfill%3Anone%3Bstroke%3A%2382C249%3Bstroke-width%3A3%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D%0D%0A%0D%0A%20%20%3C/style%3E%0D%0A%20%20%3Ctitle%3E%0D%0A%20%20%20%20Checked%20box%201%0D%0A%20%20%3C/title%3E%0D%0A%20%20%3Cdesc%3E%0D%0A%20%20%20%20Created%20with%20Sketch.%0D%0A%20%20%3C/desc%3E%0D%0A%20%20%3Cg%20id%3D%22Search-results-list%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Desktop-Search-results-12%22%20transform%3D%22translate%28-192.000000%2C%20-1616.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%20%20%20%20%20%20%3Cg%20id%3D%22Filters%22%20transform%3D%22translate%28182.000000%2C%20627.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%281.000000%2C%20645.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Bike-type%22%20transform%3D%22translate%280.000000%2C%20132.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Checked-box-1%22%20transform%3D%22translate%289.000000%2C%20212.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Rectangle-20%22%20class%3D%22st0%22%20d%3D%22M2%200h16c1.1%200%202%200.9%202%202v16c0%201.1-0.9%202-2%202H2c-1.1%200-2-0.9-2-2V2C0%200.9%200.9%200%202%200z%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Path-59%22%20class%3D%22st1%22%20d%3D%22M5%2010l3.8%204L15%206%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;
}

#more_options .radio-inline-flex{ display: inline-flex;width: 100%; }
#more_options .radio-inline-flex label { line-height: 21px; color: #FFFFFF !important; font-size: 12px; letter-spacing: 0; font-weight: normal; }
#s2id_fa_adult_home_page_search_item_adult__services_id .select2-search-choice-close {
  background: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='UTF-8'?%3e%3csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3c!-- Generator: Sketch 63.1 (92452) - https://sketch.com --%3e%3ctitle%3eIcon / 24 / Functional / Cross%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg id='Icon-/-24-/-Functional-/-Cross' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cpolygon id='Shape' fill='%23ffffff' points='19 6.4 17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12'/%3e%3c/g%3e%3c/svg%3e") no-repeat !important;
  right: 6px !important;top: 2px !important;background-size: 22px 24px !important;
}
.adv-srch-form-btn { 
    background:#E62EEB;height: 40px !important;padding: 8px 10px !important;font-family: "Poppins-SemiBold";border:0px;
    font-size: 16px !important;line-height: 21px !important;font-weight: normal !important; color: #FFFFFF !important;
}
.adv-srch-form-btn:hover, .adv-srch-form-btn:focus { background:#9C1F9F; }

#list_home_location_box .link-list {
    column-count: 5;
}
.find-all .select2-choice, .find-all .select2-choice:hover, .find-all .select2-choice:focus, .find-all .select2-choice:active,
.find-all, .find-all:hover, .find-all:focus, .find-all:active {
    border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 4px !important;
	border-bottom-left-radius: 4px !important;
	color: #ACB0B7 !important;
	border-color: #CBD5D9 !important;
	border-right: 0px !important;
}
.find-all .select2-choice::after {
	border-top: 0px solid #CBD5D9;
	border-left: 0px solid transparent;
	border-right: 0px solid transparent;
}
.top-bar-section .real-desktop li:last-child .main_category{
	padding-right: 20px !important;
}
.top-bar-section  .real-desktop li:last-child a::after {
	content: "" !important;
}
.adul-search-form .select2-container-multi .select2-choices, .adul-search-form .select2-container .select2-choice, .adul-search-form .select2-container .select2-choice:hover, .adul-search-form .select2-container .select2-choice:focus, .adul-search-form .select2-container-multi.select2-container-active .select2-choices {
    padding-right: 25px !important;
}

.list-view:hover, .list-view.active {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' width='41' height='41' viewBox='-379 215 41 41' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;stroke:%23A8DC28;%7d .st1%7bfill:%23A8DC28;%7d %3c/style%3e%3ctitle%3eList view HOVER/ON%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg transform='translate(-1167.000000, -562.000000)'%3e%3cg transform='translate(-42.000000, 406.000000)'%3e%3cg transform='translate(1168.000000, 156.000000)'%3e%3cg transform='translate(41.000000, 0.000000)'%3e%3cpath class='st0' d='M-376.5 215.5h36c1.1 0 2 0.9 2 2v36c0 1.1-0.9 2-2 2h-36c-1.1 0-2-0.9-2-2v-36C-378.5 216.4-377.6 215.5-376.5 215.5z'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3cg transform='translate(1168.000000, 156.000000)'%3e%3cg transform='translate(41.000000, 0.000000)'%3e%3crect x='-1572.6' y='68' class='st1' width='18' height='5'/%3e%3crect x='-1572.6' y='77' class='st1' width='18' height='5'/%3e%3crect x='-1572.6' y='86' class='st1' width='18' height='5'/%3e%3crect x='-1580.4' y='68' class='st1' width='5' height='5'/%3e%3crect x='-1580.4' y='77' class='st1' width='5' height='5'/%3e%3crect x='-1580.4' y='86' class='st1' width='5' height='5'/%3e%3c/g%3e%3c/g%3e%3c/svg%3e") no-repeat 0 0 / 40px 40px !important;
}
.map-view:hover, .map-view.active {
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-459%20261%2040%2040%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%20-459%20261%2040%2040%22%3E%0D%0A%20%20%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%20%20%20%20%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3Bstroke%3A%239C1F9F%3B%7D%0D%0A%09.st1%7Bfill%3A%239C1F9F%3B%7D%0D%0A%0D%0A%20%20%3C/style%3E%0D%0A%20%20%3Ctitle%3E%0D%0A%20%20%20%20Map%20view%20HOVER/ON%0D%0A%20%20%3C/title%3E%0D%0A%20%20%3Cdesc%3E%0D%0A%20%20%20%20Created%20with%20Sketch.%0D%0A%20%20%3C/desc%3E%0D%0A%20%20%3Cg%20id%3D%22Search-results-list%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Desktop-Search-results-7%22%20transform%3D%22translate%28-1217.000000%2C%20-562.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%20%20%20%20%20%20%3Cg%20id%3D%22Top-bar%22%20transform%3D%22translate%28-42.000000%2C%20406.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22View-type%22%20transform%3D%22translate%281168.000000%2C%20156.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Map-view-HOVER_x2F_ON%22%20transform%3D%22translate%2891.000000%2C%200.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Rectangle-153%22%20class%3D%22st0%22%20d%3D%22M-457%20261h36c1.1%200%202%200.9%202%202v36c0%201.1-0.9%202-2%202h-36c-1.1%200-2-0.9-2-2v-36C-459%20261.9-458.1%20261-457%20261z%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20class%3D%22st1%22%20d%3D%22M-439%20270c-4.4%200-8%203.6-8%208.1%200.1%206%208.4%2013.3%208.4%2012.9%20-0.1%200.1%207.4-6.5%207.6-12.9C-431%20273.7-434.6%20270-439%20270zM-439%20280c-1.6%200-3-1.3-3-3s1.3-3%203-3c1.6%200%203%201.3%203%203S-437.3%20280-439%20280z%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat 0 0 / 40px 40px !important;
}
.search-pref a.expand-search, .search-pref a.expand-search:hover {
    background: url('/bundles/fafrontend/images/adul/adul-setplus.png') no-repeat left center !important;
}
.search-pref a.collapse-search, .search-pref a.collapse-search:hover {
    background: url('/bundles/fafrontend/images/adul/adul-setminus.png') no-repeat left center !important;
}

.featured .featured-ribbon {
    background: url('/bundles/fafrontend/images/adul/featured-ribbon.png') no-repeat !important;
}
.site-search .search-icon {
    border: 0px solid #760F62 !important;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2215.3%22%20height%3D%2215.3%22%20viewBox%3D%22-4226.7%201392.2%2015.3%2015.3%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0D%0A%3C/style%3E%3Ctitle%3ESEARCH%20ICON%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch%20Beta.%3C/desc%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-4211.4%201406l-3.6-3.6c0.8-1.1%201.3-2.4%201.3-3.8%200-1.7-0.7-3.4-1.9-4.6%20-2.5-2.5-6.7-2.5-9.2%200%20-1.2%201.2-1.9%202.9-1.9%204.6s0.7%203.4%201.9%204.6c1.3%201.3%202.9%201.9%204.6%201.9%201.3%200%202.7-0.4%203.8-1.3l3.6%203.6L-4211.4%201406zM-4223.5%201401.7c-0.9-0.9-1.3-2-1.3-3.2%200-1.2%200.5-2.3%201.3-3.2%200.9-0.9%202-1.3%203.2-1.3%201.2%200%202.3%200.4%203.2%201.3%200.9%200.8%201.3%202%201.3%203.2%200%201.2-0.5%202.3-1.3%203.2C-4218.8%201403.5-4221.7%201403.5-4223.5%201401.7z%22/%3E%3C/svg%3E') no-repeat center center, linear-gradient(135deg, #A75BD8 0%, #C60A84 100%) !important;
}
.site-search .search-icon:hover, .site-search .search-icon:focus {
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2215.3%22%20height%3D%2215.3%22%20viewBox%3D%22-4226.7%201392.2%2015.3%2015.3%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0D%0A%3C/style%3E%3Ctitle%3ESEARCH%20ICON%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch%20Beta.%3C/desc%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-4211.4%201406l-3.6-3.6c0.8-1.1%201.3-2.4%201.3-3.8%200-1.7-0.7-3.4-1.9-4.6%20-2.5-2.5-6.7-2.5-9.2%200%20-1.2%201.2-1.9%202.9-1.9%204.6s0.7%203.4%201.9%204.6c1.3%201.3%202.9%201.9%204.6%201.9%201.3%200%202.7-0.4%203.8-1.3l3.6%203.6L-4211.4%201406zM-4223.5%201401.7c-0.9-0.9-1.3-2-1.3-3.2%200-1.2%200.5-2.3%201.3-3.2%200.9-0.9%202-1.3%203.2-1.3%201.2%200%202.3%200.4%203.2%201.3%200.9%200.8%201.3%202%201.3%203.2%200%201.2-0.5%202.3-1.3%203.2C-4218.8%201403.5-4221.7%201403.5-4223.5%201401.7z%22/%3E%3C/svg%3E') no-repeat center center, linear-gradient(135deg, #8645AA 0%, #9D086A 100%) !important;
    background-size: auto !important;
}
.budget-go-btn, .budget-go-btn:hover, .budget-go-btn:focus {
    background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' x='0' y='0' width='40' height='40' viewBox='-459 261 40 40' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23FFFFFF;%7d .st1%7bfill:none;stroke:%23FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7d .st2%7bfill:none;stroke:%23FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3ctitle%3ebutton filters%3c/title%3e%3cdesc%3eCreated with Sketch.%3c/desc%3e%3cg transform='translate(-362.000000, -910.000000)'%3e%3cg transform='translate(182.000000, 627.000000)'%3e%3cg transform='translate(1.000000, 243.000000)'%3e%3cg transform='translate(179.000000, 40.000000)'%3e%3cpath class='st0' d='M-457 261h36c1.1 0 2 0.9 2 2v36c0 1.1-0.9 2-2 2h-36c-1.1 0-2-0.9-2-2v-36C-459 261.9-458.1 261-457 261z'/%3e%3cg transform='translate(15.000000, 16.000000)'%3e%3cg transform='translate(8.000000, 0.000000)'%3e%3cpath class='st1' d='M-459 261l4 5 -4 5'/%3e%3c/g%3e%3cpath class='st2' d='M-459 261l4 5 -4 5'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e") no-repeat center center, linear-gradient(135deg, #A75BD8 0%, #C60A84 100%) !important;
}
.reset-search a {
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2215%22%20height%3D%2215%22%20viewBox%3D%22-1410%20464.9%2015%2015%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%239C1F9F%3B%7D%0D%0A%3C/style%3E%3Ctitle%3Ereset%20icon%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-812.000000%2C%20-980.000000%29%22%3E%3Cg%20transform%3D%22translate%28689.000000%2C%20-952.000000%29%22%3E%3Cg%20transform%3D%22translate%28123.000000%2C%201932.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-1397.4%20472.5c0-2.8-2.3-5.1-5.2-5.1%20-1.2%200-2.4%200.4-3.2%201.1l2.6%202.2%20-6.8%201%200-6.8%202.4%202c1.3-1.2%203.1-1.9%205.1-1.9%204.2%200%207.6%203.3%207.6%207.4%200%204.1-3.4%207.4-7.6%207.4%20-3.3%200-6.1-2.1-7.1-4.9l2.4-0.4c0.8%201.7%202.6%202.9%204.7%202.9C-1399.7%20477.6-1397.4%20475.3-1397.4%20472.5z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') 0 3px no-repeat !important;
    color: #9C1F9F !important;
}
.listing .unsaved-item:hover, .listing .saved-item {
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2221%22%20height%3D%2220%22%20viewBox%3D%22-1407%20461.9%2021%2020%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%239C1F9F%3B%7D%0D%0A%3C/style%3E%3Ctitle%3EHeart%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-213.000000%2C%20-1241.000000%29%22%3E%3Cg%20transform%3D%22translate%28183.000000%2C%20447.000000%29%22%3E%3Cg%20transform%3D%22translate%280.000000%2C%2022.000000%29%22%3E%3Cg%20transform%3D%22translate%280.000000%2C%20762.000000%29%22%3E%3Cg%20transform%3D%22translate%2830.000000%2C%2010.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-1390.7%20462c2.1%200.2%204.4%202.1%204.7%205.7v1.2c-0.3%203.5-2.9%207.7-10.5%2013.1%20-7.6-5.3-10.2-9.6-10.5-13.1v-1.2c0.3-3.6%202.7-5.5%204.7-5.7%200.3%200%200.7%200%201%200%202.4%200%203.5%201%204.8%202.6%201.3-1.6%202.4-2.6%204.8-2.6C-1391.4%20461.9-1391.1%20462-1390.7%20462z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat !important;
}
.alert-tooltip {
    background: #FFFFFF url("/Frontend/images/adul/adul-alert-illustration.svg") no-repeat 90% 10px;
}



