
/* Category Images */
.discover-forsale, .cat-forsale {
  background: url('/Frontend/images/categories/Ic-btn-For-Sale.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-For-Sale-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-For-Sale-ON.svg') no-repeat;
  }
}
.discover-motors, .cat-motors {
  background: url('/Frontend/images/categories/Ic-btn-Motors.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-Motors-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-Motors-ON.svg') no-repeat;
  }
}
.discover-jobs, .cat-jobs {
  background: url('/Frontend/images/categories/Ic-btn-Jobs.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-Jobs-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-Jobs-ON.svg') no-repeat;
  }
}
.discover-services, .cat-services {
  background: url('/Frontend/images/categories/Ic-btn-Services.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-Services-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-Services-ON.svg') no-repeat;
  }
}
.discover-property, .cat-property {
  background: url('/Frontend/images/categories/Ic-btn-Property.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-Property-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-Property-ON.svg') no-repeat;
  }
}
.discover-animals, .cat-animals {
  background: url('/Frontend/images/categories/Ic-btn-Animals.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-Animals-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-Animals-ON.svg') no-repeat;
  }
}
.discover-community, .cat-community {
  background: url('/Frontend/images/categories/Ic-btn-Community.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-Community-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-Community-ON.svg') no-repeat;
  }
}
.discover-adult, .cat-adult  {
  background: url('/Frontend/images/categories/Ic-btn-Adult.svg') no-repeat;
  &:hover {
    background: url('/Frontend/images/categories/Ic-btn-Adult-Hover.svg') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/categories/Ic-btn-Adult-ON.svg') no-repeat;
  }
}

.custom-checkbox label, .custom-checkbox label.custom-control-label {
    margin: 5px 5px 5px 22px;
    padding-left: 5px;
}
.custom-checkbox .custom-control-label::after {
    top: 0 !important;
    left: -20px !important;
    border: 0px solid #e3e3e3;
}
.custom-checkbox .custom-control-label::before {
    top: 0 !important;
    border: 0px solid #e3e3e3 !important;
}
.featured-ribbon, .urgent-ribbon { text-indent: -999px !important; }

.radio-capsule .capsule-bg { 
   display: inline-block;margin: 0 11px 0 -4px;background: #a8a8a8;color: #fff;height: 35px;line-height: 32px;padding: 0 16px;vertical-align: middle;border-radius: 20px;cursor: pointer;position: relative;
}
.radio-capsule .capsule-bg:hover, .radio-capsule .capsule-bg.active {
    background: #a8dc28;
}
.radio-capsule .capsule-bg input[type="radio"] {
    display: block;width: 100%;height: 100%;margin: 0;position: absolute;left: 0;top: 0;z-index: 1;opacity: 0;cursor: pointer;
}
button.expand, .button.expand { width: 100%; }
.thin-btn {  font-size: 16px; line-height: 18px; padding: 8px 20px 8px 20px; }
.edit-item-img {
    display: block;float: left;margin-left: 1px;width: 40px;height: 40px;text-indent: 100%;overflow: hidden;white-space: nowrap;
    background: rgba(74, 74, 74, 0.5) url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2219px%22%20height%3D%2218px%22%20viewBox%3D%220%200%2019%2018%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2041.2%20%2835397%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3EEdit-white%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%221.--Tablet-Ad-details-Edit%22%20transform%3D%22translate%28-476.000000%2C%20-715.000000%29%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22ad-+-Right-bar%22%20transform%3D%22translate%28-202.000000%2C%20-3.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22ad%22%20transform%3D%22translate%280.000000%2C%2019.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22image-galery%22%20transform%3D%22translate%28213.000000%2C%20358.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Zoom-+-rotate%22%20transform%3D%22translate%28370.000000%2C%20331.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Edit%22%20transform%3D%22translate%2882.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Edit-white%22%20transform%3D%22translate%2813.000000%2C%209.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12.8%2C17.2%20L1.8%2C17.2%20L1.8%2C6.2%20L8.7%2C6.2%20L8.5%2C6%20L10.1%2C4.4%20L0.3%2C4.4%20C0.1%2C4.4%200%2C4.6%200%2C4.7%20L0%2C18.6%20C0%2C18.8%200.1%2C18.9%200.3%2C18.9%20L14.2%2C18.9%20C14.4%2C18.9%2014.5%2C18.8%2014.5%2C18.6%20L14.5%2C11.4%20L12.8%2C13.1%20L12.8%2C17.2%20L12.8%2C17.2%20Z%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M6.8%2C9.8%20C6.8%2C9.8%206.7%2C9.9%206.7%2C10%20L6.3%2C13%20C6.3%2C13.1%206.3%2C13.2%206.4%2C13.2%20C6.4%2C13.2%206.5%2C13.3%206.6%2C13.3%20L6.6%2C13.3%20L9.6%2C12.9%20C9.7%2C12.9%209.7%2C12.9%209.8%2C12.8%20L16.5%2C6%20L13.6%2C3.1%20L6.8%2C9.8%20L6.8%2C9.8%20Z%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M18.5%2C3.6%20L15.9%2C1%20C15.8%2C0.9%2014.3%2C2.2%2014.3%2C2.2%20L17.2%2C5.1%20L18.5%2C4%20C18.5%2C4%2018.6%2C3.9%2018.6%2C3.8%20C18.6%2C3.7%2018.6%2C3.7%2018.5%2C3.6%20L18.5%2C3.6%20Z%22%20id%3D%22Shape%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') no-repeat 13px 10px / 20px 20px;
}

.white-check input.checkbox + label::after {
	content: '.';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	background-color: #FFFFFF;
	outline: none;
	font-size: 1px;
	position: relative;
	top: -4px;
	cursor: pointer;
}
.white-check input.checkbox:checked + label::after {
	background-color: transparent;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%200%200%2020%2020%22%3E%0D%0A%20%20%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%20%20%20%20%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3Bstroke%3A%23E3E3E3%3B%7D%0D%0A%09.st1%7Bfill%3Anone%3Bstroke%3A%23A8DC28%3Bstroke-width%3A3%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D%0D%0A%0D%0A%20%20%3C/style%3E%0D%0A%20%20%3Ctitle%3E%0D%0A%20%20%20%20Checked%20box%201%0D%0A%20%20%3C/title%3E%0D%0A%20%20%3Cdesc%3E%0D%0A%20%20%20%20Created%20with%20Sketch.%0D%0A%20%20%3C/desc%3E%0D%0A%20%20%3Cg%20id%3D%22Search-results-list%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Desktop-Search-results-12%22%20transform%3D%22translate%28-192.000000%2C%20-1616.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%20%20%20%20%20%20%3Cg%20id%3D%22Filters%22%20transform%3D%22translate%28182.000000%2C%20627.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%281.000000%2C%20645.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Bike-type%22%20transform%3D%22translate%280.000000%2C%20132.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Checked-box-1%22%20transform%3D%22translate%289.000000%2C%20212.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Rectangle-20%22%20class%3D%22st0%22%20d%3D%22M2%200h16c1.1%200%202%200.9%202%202v16c0%201.1-0.9%202-2%202H2c-1.1%200-2-0.9-2-2V2C0%200.9%200.9%200%202%200z%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Path-59%22%20class%3D%22st1%22%20d%3D%22M5%2010l3.8%204L15%206%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid transparent;
}
.grey-check input.checkbox + label::after, .grey-check span.equalizer-inner input.checkbox + label::after {
	content: '.';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	background-color: #EFEFEF;
	outline: none;
	font-size: 1px;
	position: relative;
	top: -4px;
	cursor: pointer;
}
.grey-check input.checkbox:checked + label::after, .grey-check span.equalizer-inner input.checkbox:checked + label::after {
	background-color: transparent;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%200%200%2020%2020%22%3E%0D%0A%20%20%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%20%20%20%20%0D%0A%09.st0%7Bfill%3A%23EFEFEF%3Bstroke%3A%23E3E3E3%3B%7D%0D%0A%09.st1%7Bfill%3Anone%3Bstroke%3A%23A8DC28%3Bstroke-width%3A3%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D%0D%0A%0D%0A%20%20%3C/style%3E%0D%0A%20%20%3Ctitle%3E%0D%0A%20%20%20%20Checked%20box%201%0D%0A%20%20%3C/title%3E%0D%0A%20%20%3Cdesc%3E%0D%0A%20%20%20%20Created%20with%20Sketch.%0D%0A%20%20%3C/desc%3E%0D%0A%20%20%3Cg%20id%3D%22Search-results-list%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Desktop-Search-results-12%22%20transform%3D%22translate%28-192.000000%2C%20-1616.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%20%20%20%20%20%20%3Cg%20id%3D%22Filters%22%20transform%3D%22translate%28182.000000%2C%20627.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%281.000000%2C%20645.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Bike-type%22%20transform%3D%22translate%280.000000%2C%20132.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Checked-box-1%22%20transform%3D%22translate%289.000000%2C%20212.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Rectangle-20%22%20class%3D%22st0%22%20d%3D%22M2%200h16c1.1%200%202%200.9%202%202v16c0%201.1-0.9%202-2%202H2c-1.1%200-2-0.9-2-2V2C0%200.9%200.9%200%202%200z%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Path-59%22%20class%3D%22st1%22%20d%3D%22M5%2010l3.8%204L15%206%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #e3e3e3;
}
.white-radio input.checkbox + label::after {
	content: '.';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 50%;
	background-color: #FFFFFF;
	outline: none;
	font-size: 1px;
	position: relative;
	top: -4px;
	cursor: pointer;
}
.white-radio input.checkbox:checked + label::after {
	background-color: transparent;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%22-1405%20459.9%2024%2024%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3Bstroke%3A%23E3E3E3%3B%7D%0D%0A%09.st1%7Bfill%3A%23A8DC28%3B%7D%0D%0A%3C/style%3E%3Ctitle%3ERadio%20Button%20ON%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-570.000000%2C%20-532.000000%29%22%3E%3Cg%20transform%3D%22translate%28-2.000000%2C%20260.000000%29%22%3E%3Cg%20transform%3D%22translate%28573.000000%2C%20273.000000%29%22%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%22-1394%22%20cy%3D%22470.9%22%20r%3D%2211%22/%3E%3Ccircle%20class%3D%22st1%22%20cx%3D%22-1394%22%20cy%3D%22470.9%22%20r%3D%225%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid transparent;
}
.grey-radio input.checkbox + label::after {
	content: '.';
	display: block;
	width: 20px;
	height: 20px;
	border: 1px solid #e3e3e3;
	border-radius: 50%;
	background-color: #EFEFEF;
	outline: none;
	font-size: 1px;
	position: relative;
	top: -4px;
	cursor: pointer;
}
.grey-radio input.checkbox:checked + label::after {
	background-color: transparent;
	background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%22-1405%20459.9%2024%2024%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23EFEFEF%3Bstroke%3A%23E3E3E3%3B%7D%0D%0A%09.st1%7Bfill%3A%23A8DC28%3B%7D%0D%0A%3C/style%3E%3Ctitle%3ERadio%20Button%20ON%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-570.000000%2C%20-532.000000%29%22%3E%3Cg%20transform%3D%22translate%28-2.000000%2C%20260.000000%29%22%3E%3Cg%20transform%3D%22translate%28573.000000%2C%20273.000000%29%22%3E%3Ccircle%20class%3D%22st0%22%20cx%3D%22-1394%22%20cy%3D%22470.9%22%20r%3D%2211%22/%3E%3Ccircle%20class%3D%22st1%22%20cx%3D%22-1394%22%20cy%3D%22470.9%22%20r%3D%225%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat;
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #e3e3e3;
}
.checkbox ~ label {
	margin-right: 5px;
margin-bottom: 0px !important;
}
input.checkbox {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	clip: rect(0 0 0 0);
}
.grey-radio .checkbox, .white-radio .checkbox { background:transparent !important; border:none !important; }
.grey-radio span, .white-radio span { display: block; }
.grey-radio, .white-radio, .grey-check, .white-check { font-size:13px !important; color: #a4a4a4 !important; margin-bottom:5px !important;}

.select2-container { width: 100% !important; }
.grey-select .select2-container--default .select2-selection--single, .paa-block .select2-container--default .select2-selection--single {
	background: #EAEFF0 !important;
}
.white-select .select2-container--default .select2-selection--single {
	background: #FFFFFF !important;
}
.select2-container--default .select2-selection--single {
	font-size: 13px !important;
	color: #212527 !important;
	font-weight: normal !important;
	border-radius: 4px !important;
	border: 1px solid #CBD5D9 !important;
	margin-bottom: 0px !important;
	height: 40px !important;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	text-align: left !important;
	padding: 10px 30px 10px 14px !important;
	display: block !important;
	line-height: 1.4 !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
	white-space: nowrap !important;
	
}
.select2-container--default .select2-search--dropdown .select2-search__field {
	margin-bottom: 0px !important;
	border: 1px solid #CBD5D9;
	background: #EAEFF0 !important;
}
.select2-container--default .select2-results > .select2-results__options {
	margin-top: 0px !important;
	font-size: 13px !important;
	color: #212527 !important;
	font-weight: normal !important;
	border-radius: 2px !important;
	background: #EAEFF0 !important;
	border: 1px solid #CBD5D9 !important;
	max-height: 165px !important;
}
.select2-results__option {
	padding: 9px 14px 8px !important;
        border-bottom: 1px solid #fff !important;

}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #fff !important;
	color: #212527 !important;
	font-weight: normal !important;
	border: 0 !important;
	border-bottom: 1px solid #fff !important;
	box-shadow: 0 1px 0 #CBD5D9 !important;
	margin: 0 !important;
}
.select2-container--open .select2-dropdown {
	border: 1px solid #CBD5D9 !important;
	margin-top: 3px !important;
	background: #EAEFF0 !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 6px !important;
	right: 12px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #A8A8A8 transparent transparent transparent !important;
	border-width: 8px 6px 0 6px !important;
	margin-left: -4px !important;
	margin-top: -2px !important;
}
 .select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #EAEFF0 !important;
}
.top-bar-section .navbar-nav .nav-item .dropdown-menu .row {
	flex: content !important;
}
#top_search_location .xs-btn-1 {
    margin: 5px 0px 0;
    width: 49%;
}
#featured-item-slider .item {
    margin: 0 5px;
}

.profile-logo-ins .f-dropdown {
    margin-top: 10px;
    border-color: #e3e3e3;
    border-radius: 2px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
}

.f-dropdown {
    position: absolute;
    list-style: none;
    margin-left: 0;
    outline: 0;
    width: 100%;
    max-height: none;
    height: auto;
    background: white;
    border: solid 1px #ccc;
    font-size: .875rem;
    z-index: 89;
    margin-top: 2px;
    max-width: 200px;
}
.profile-logo-ins .f-dropdown li a {
    padding: .65rem;
    border-bottom: 1px solid #e3e3e3;
    text-align: center;
    font-size: 13px;
     display: block;
}
.profile-logo-ins .f-dropdown::before {
    left: 50% !important;
    margin-left: -6px;
}
.f-dropdown.open::before {
    left: 8px;
}
.f-dropdown:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 6px;
    border-color: transparent transparent white transparent;
    border-bottom-style: solid;
    position: absolute;
    top: -12px;
    left: 10px;
    z-index: 89;
}
.width-100per { width:100% !important; } 
.mb20 { margin-bottom:20px !important; }
.primary-btn-1 { color: #ffffff !important; }
.primary-btn-1.disabled, .btn-disabled {
    background: #EAEFF0 !important;
}
.bz-profile-logo.rounded {
    border-radius: 50% !important;
    width: 111px;
    height: 111px;
    line-height: 100px;
    overflow: hidden;
}
.bz-profile-logo {
    background: #ffffff;
    width: 158px;
    height: 116px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.5);
    position: relative;
    padding: 4px;
}
.bz-profile-logo.rounded img.pvt-no-img {
    width: 103px;
    height: 103px;
    border-radius: 50%;
}
.bz-profile-logo img {
    max-width: 154px;
    max-height: 113px;
}
.reg-profile-btn {
    width: auto;
    padding: 40px 0 0 25px;
}

/* tooltip */
.image-tooltip-wrapper {
    position: relative;
    display: inline-block
}

.image-tooltip {
    background: #EAEFF0;
    border: 1px solid #ACB0B7;
    border-radius: 3px;
    padding: 10px;
    font-size: 13px;
    color: #ACB0B7;
    line-height: 21px;
    width: 280px;
    min-height: 80px;
    position: absolute;
    left: -128px;
    bottom: 28px;
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .5s, opacity .5s linear;
    -moz-transition: visibility .5s, opacity .5s linear;
    -o-transition: visibility .5s, opacity .5s linear;
    transition: visibility .5s, opacity .5s linear
}

.image-tooltip:after{ left:50%;bottom:-15px;content:" ";height:0;width:0;position:absolute;pointer-events:none;margin-left:-9px;border-style:solid;border-width:7px;border-color:#b3b3b3 transparent transparent transparent; }
.image-tooltip-wrapper:hover .image-tooltip{visibility:visible;opacity:1}


.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}
.autocomplete-active {
  background-color: #000000 !important; 
  color: #ffffff; 
}
.ui-autocomplete-close {
    right: 10px;
    top: 15px;
}
.select2-search-choice-close {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 1px;
    outline: 0;
    background:url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjlweCIgaGVpZ2h0PSI5cHgiIHZpZXdCb3g9Ii0xIC0xIDkgOSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAtMSAtMSA5IDkiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwb2x5Z29uIHBvaW50cz0iNy41LDAuOTU1IDYuMDQ2LC0wLjUgMy41LDIuMDQ1IDAuOTU1LC0wLjUgLTAuNSwwLjk1NSAyLjA0NSwzLjUgLTAuNSw2LjA0NCAwLjk1NSw3LjUgMy41LDQuOTU0IDYuMDQ2LDcuNSA3LjUsNi4wNDQgNC45NTQsMy41ICIvPjwvc3ZnPg==") 50% 50% no-repeat !important;
    opacity: .5;
    z-index:99;
}
.newsletter-icon {
    background: url('/Frontend/images/newsletter-white.svg') no-repeat; background-size: 100%; background-position: center center;
    font-size: 35px; padding: 24px; margin-right: 10px
}
ul.pagination li a, ul.pagination li button {
    background: #fbfbfb;
    border: 1px solid #e3e3e3;
    color: #ACB0B7;
    font-size: 16px;
    min-width: 40px;
    padding: 0 4px;
    height: 40px;
    line-height: 38px;
    border-radius: 0;
    display: inline-block;
    margin-left: -1px;
}
ul.pagination li.current a, ul.pagination li.current button {
    font-weight: bold;
    cursor: default;
    color: #212527;
    background: #fff;
}
ul.pagination li.pager-prev a, ul.pagination li.pager-prev.unavailable a {
    color: transparent;
    background: #FBFBFB url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2213%22%20height%3D%2212%22%20viewBox%3D%220%200%2013%2012%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3Anone%3Bstroke%3A%23ACB0B7%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D%0D%0A%3C/style%3E%3Ctitle%3Edouble%20arrow%20previous%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-498.000000%2C%20-506.000000%29%22%3E%3Cg%20transform%3D%22translate%28486.000000%2C%20396.000000%29%22%3E%3Cg%20transform%3D%22translate%280.000000%2C%2096.000000%29%22%3E%3Cg%20transform%3D%22translate%2812.000000%2C%2015.000000%29%22%3E%3Cg%20transform%3D%22translate%289.500000%2C%205.000000%29%20scale%28-1%2C%201%29%20translate%28-9.500000%2C%20-5.000000%29%20translate%287.000000%2C%200.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M0%200l4%205%20-4%205%22/%3E%3C/g%3E%3Cg%20transform%3D%22translate%282.500000%2C%205.000000%29%20scale%28-1%2C%201%29%20translate%28-2.500000%2C%20-5.000000%29%20%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M0%200l4%205%20-4%205%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat center center;
}
ul.pagination li.pager-next a, ul.pagination li.pager-next.unavailable a {
    color: transparent;
    background: #FBFBFB url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2214%22%20height%3D%2212%22%20viewBox%3D%220%200%2014%2012%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3Anone%3Bstroke%3A%23ACB0B7%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D%0D%0A%3C/style%3E%3Ctitle%3Edouble%20arrow%20next%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-928.000000%2C%20-506.000000%29%22%3E%3Cg%20transform%3D%22translate%28486.000000%2C%20396.000000%29%22%3E%3Cg%20transform%3D%22translate%2896.000000%2C%200.000000%29%22%3E%3Cg%20transform%3D%22translate%28347.000000%2C%20111.000000%29%22%3E%3Cg%20transform%3D%22translate%288.000000%2C%200.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M0%200l4%205%20-4%205%22/%3E%3C/g%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M0%200l4%205%20-4%205%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat center center;
}
ul.pagination li.pager-prev:hover a, ul.pagination li.pager-next:hover a {
    /* background-color: #e3e3e3 !important; */
}
.site-search .change-location #top_search_location {
   width: 224px !important; z-index: 999 !important;
}
.site-search .input-group { width: max-content !important; }
.site-search .change-location #top_search_location .clearfix {
    z-index: 999 !important;
}
.blockMsg h1 {
    font-size: 20px;
    color: #212527;
}
.blockMsg h1 img {
    margin-right: 5px;
}

/* ui-autocomplete */
.ui-widget-content {
z-index:999;
}

.ui-menu .ui-menu-item{ position:relative;margin:0;padding:11px 14px 10px;cursor:pointer;min-height:0;border-bottom:1px solid #fff; }
.ui-menu .ui-menu-divider{margin:5px 0;height:0;font-size:0;line-height:0;border-width:1px 0 0 0}
.ui-menu .ui-state-focus,.ui-menu .ui-state-active{margin:-1px}.ui-menu-icons{position:relative}
.ui-menu-icons .ui-menu-item{padding-left:2em}
.ui-menu .ui-icon{position:absolute;top:0;bottom:0;left:.2em;margin:auto 0}
.ui-menu .ui-menu-icon{left:auto;right:0}

.ui-menu .ui-menu-item:last-child{border-bottom:0}
.ui-widget-content .ui-state-focus,.ui-widget-content .ui-state-hover{color:#4a4a4a}
.ui-selectmenu-button span.ui-icon{background:url(/bundles/fafrontend/images/select-arrow.png) no-repeat center center;background-size:11px 8px;margin-top:-7px}
.white-select .ui-selectmenu-button,.ui-selectmenu-menu .ui-menu.white-dropdown{background:#fff}
.ui-menu.white-dropdown .ui-menu-item{border-bottom:1px solid #e3e3e3;box-shadow:none}
.ui-menu.white-dropdown .ui-state-focus{background:#efefef;box-shadow:none}

.ui-menu.keyword-choices{ margin-top:7px}
.ui-menu.keyword-choices .ui-menu-item{background-image:none;box-shadow:none;padding:11px 14px 10px}
.ui-menu.keyword-choices .ui-menu-item span{font-weight:bold;color:#a8dc28}

.ui-menu.category-choices{margin-top:8px}
.ui-menu.category-choices .ui-menu-item{ border-bottom:1px solid #fff;box-shadow:0 1px 0 #e3e3e3;line-height:18px;padding:11px 10px 10px !important; }
.ui-menu.category-choices .ui-menu-item:hover{background-color:#fff;color:#313133}
.ui-menu.category-choices .ui-menu-item:last-child{border-bottom:0}
.ui-menu.category-choices .ui-menu-item div span{color:#a8dc28;font-weight:700}

.ui-menu .ui-menu-item-wrapper { padding: 3px 0px 3px 0px !important; }
.ui-menu .ui-state-focus, .ui-menu .ui-state-active {
    margin: 0px !important;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0px solid transparent !important;
    background: transparent !important;
    color: #212529 ;
    font-weight: bold;
}

.select2-results, .ui-autocomplete {
    max-height: 468px;
    padding: 0 1px;
    overflow-y: auto;
}
.select2-drop, .ui-autocomplete {
    margin-top: 4px;
    border-radius: 2px;
    border: 1px solid #e3e3e3;
    box-shadow: none;
    background: #efefef;
}
.select2-results li, .ui-autocomplete li {
    border-bottom: 1px solid #fff;
    box-shadow: 0 1px 0 #e3e3e3;
    font-size: 14px;
}

/* Enquire tooltip */
.enquire-icon {
	width: 21px;
	height: 27px;
	margin-left: 10px;
	text-indent: -9999px;
	vertical-align: text-bottom;
	margin-bottom: -1px;
	display: inline-block;
	background: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2221px%22%20height%3D%2227px%22%20viewBox%3D%220%200%2021%2027%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2039.1%20%2831720%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Eone-click_white@3x%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%221.1-Desktop-Ad-details-One-Click-Enquire%22%20transform%3D%22translate%28-1152.000000%2C%20-716.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Ad-preview%22%20transform%3D%22translate%28183.000000%2C%20447.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Right-bar%22%20transform%3D%22translate%28733.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group%22%20transform%3D%22translate%2820.000000%2C%20173.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Green--CTA-Contact%22%20transform%3D%22translate%280.000000%2C%2080.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Group-4%22%20transform%3D%22translate%2864.000000%2C%2017.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22one-click_white%22%20transform%3D%22translate%28153.000000%2C%200.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M19.6842803%2C16.7626222%20L19.6815082%2C16.7627212%20L19.6815082%2C16.5559013%20C19.6815082%2C15.7357501%2019.0165957%2C15.0708376%2018.1964445%2C15.0708376%20C17.3762933%2C15.0708376%2016.7113808%2C15.7357501%2016.7113808%2C16.5559013%20L16.7113808%2C14.9223312%20C16.7113808%2C14.1021801%2016.0464683%2C13.4372675%2015.2263171%2C13.4372675%20C14.4061659%2C13.4372675%2013.7412534%2C14.1021801%2013.7412534%2C14.9223312%20L13.7412534%2C13.4372675%20C13.7412534%2C12.6171164%2013.0268388%2C11.9522038%2012.2066876%2C11.9522038%20C11.3865364%2C11.9522038%2010.6756859%2C12.6666185%2010.6756859%2C13.4867697%20L10.6721218%2C8.6850637%20C10.6721218%2C7.86491252%2010.0072092%2C7.2%209.18705805%2C7.2%20C8.36690687%2C7.2%207.70199435%2C7.86491252%207.70199435%2C8.6850637%20L7.70199435%2C18.3132267%20C7.70199435%2C18.3132267%206.18267519%2C13.750814%204.0450745%2C14.8377816%20C3.29779045%2C15.2177599%202.98523404%2C16.1195896%203.35669797%2C16.8713288%20L6.1200055%2C22.4634847%20C6.1200055%2C22.4634847%207.82802676%2C25.8206197%2010.8067675%2C25.8206197%20L14.7669374%2C25.8206197%20C17.5008407%2C25.8206197%2019.6873494%2C23.6043106%2019.6873494%2C20.8704074%20L19.6842803%2C16.7626222%20L19.6842803%2C16.7626222%20Z%22%20id%3D%22Shape%22%20fill%3D%22%23FFFFFF%22%20transform%3D%22translate%2811.443675%2C%2016.510310%29%20rotate%28-360.000000%29%20translate%28-11.443675%2C%20-16.510310%29%20%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8.8%2C2.8%20L8.8%2C0.352000046%22%20id%3D%22Line%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M13.6%2C4.93099737%20L15.3309974%2C3.2%22%20id%3D%22Line-Copy%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M15.2%2C8.8%20L17.648%2C8.8%22%20id%3D%22Line-Copy-3%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M0%2C8.8%20L2.44799995%2C8.8%22%20id%3D%22Line-Copy-4%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M4.22805364%2C5.02805364%20L2.49705627%2C3.29705627%22%20id%3D%22Line-Copy-2%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22square%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E') no-repeat 0 0;
}
.enquire-tooltip {
    width: 275px;
    min-height: 100px;
    background: #FBFBFB;
    border: 1px solid #E3E3E3;
    border-radius: 2px;
    font-size: 13px;
    color: #A8A8A8;
    line-height: 20px;
    position: absolute;
    left: -259px;
	top: 16em;
    z-index: 2;
    padding: 7px 10px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: visibility .3s,opacity .3s linear;
    -moz-transition: visibility .3s,opacity .3s linear;
    -o-transition: visibility .3s,opacity .3s linear;
    transition: visibility .3s,opacity .3s linear;
}
.enquire-tooltip::after {
    top: 48%;
    right: 0;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-right: -9px;
    border-style: solid;
    border-width: 8px 4.5px 0 4.5px;
    border-color: #B3B3B3 transparent transparent transparent;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.enquire-tip-wrap:hover .enquire-tooltip {
    visibility: visible;
    opacity: 1;
}
footer .search-box-col .newsletter-lbl, .white-check .label-span, .grey-check .label-span  {
	line-height: 17px;
	position: relative;
	top: -7px;
}
.pd20 { padding:20px !important; }

