.homepage-hero {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover !important;
  background-position: center !important;
  min-height: 550px;
  margin: -60px 0 0 0;
  z-index: 999;
  .caption {
    margin-top: 150px;
  }
  .tagline {
    margin: 0 0 27px;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
  .tagline-text {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
  }
  .forsale-phone {
    width: 221px;
    height: 331px;
    position: absolute;
    right: -30px;
    top: 83px;
    z-index: -2;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.home-category-list {
  width: 130px;
  .btn {
    width: 100%;
    font-size: 14px;
    line-height: 18px;
  }
  .dropdown-menu {
    min-width: 7.5rem;
    a {
      font-size: 14px;
      line-height: 18px;
      padding: 10px;
      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}

.home-search {
  .location {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
  }
  .search-pin {
    display: block;
    margin: 0 auto 8px;
    width: 21px;
    height: 25px;
    vertical-align: middle;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2221%22%20height%3D%2225%22%20viewBox%3D%22-469%20268%2021%2025%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23A8DC28%3B%7D%0D%0A%3C/style%3E%3Ctitle%3Esearch-pin%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-458.5%20268c-5.5%200-10%204.3-10%209.6%200.1%207.2%2010%2015.4%2010%2015.4%20-0.1%200%209.8-7.7%2010-15.4C-448.5%20272.3-453%20268-458.5%20268zM-458.5%20281.3c-1.8%200-3.3-1.5-3.3-3.3s1.5-3.3%203.3-3.3%203.3%201.5%203.3%203.3S-456.7%20281.3-458.5%20281.3z%22/%3E%3C/svg%3E') no-repeat;
  }
  #header_search_editable_location_span {
    margin-left: 2px;
  }  
  #top_search_location {
    background: transparent;
    float: none;
    margin: auto;
    width: 235px;
    padding: 0 5px 5px 5px;
    position: relative;
    z-index: 5;
  }
  .search-btn {
    border-radius: 2px;
    width: 133px;
    display: block;
  }
  #top_search_location .ui-autocomplete-input {
    margin: 0 0 5px;
    background: #FFFFFF;
    font-size: 14px;
    line-height: 18px;

    border-radius: 2px;
  }
}

#top_search_location .xs-btn-1 {
  margin: 5px 1px 0;
  width: 48%;
}

.what-u-discover {
  padding: 33px 15px;
}

.discover-categories {
  padding-left: 0px;
  list-style: none;
  a {
    display: inline-block;
    float: left;
    width: 112px;
    height: 112px;
    text-indent: -9999px;
    margin: 8px 8px;
    background-size: cover;
    background-position: center;
  }
}

.homepage-title, .homepage-title-small {
  font-size: 36px;

  line-height: 46px;
  text-align: center;
  margin-bottom: 49px;
}
#popular_shops_slider .item {
  width: 250px;
  min-height: 248px;
  padding: 0;
}
#popular_shops_slider .list-img {
  width: 248px;
  height: 187px;
}
#popular_shops_slider .list-img img {
  max-width: 248px;
  max-height: 187px;
}
#popular_shops_slider h3 {
  margin: 4px 10px 15px;
}
#popular_shops_slider {
  .owl-prev, .owl-next {
    height: 253px;
  }
}
#popular_shops_slider {
  .owl-prev, .owl-next {
    height: 253px;
  }
}
.sub-head-text {
  font-size: 20px;

  line-height: 27px;
}
#featured-item-slider {
  margin-top: 48px;
  .item {
    margin: 6px;
  }
  .list-img {
    width: 301px;
    height: 227px;
    margin: 19px;
  }
}
.fa-slider .list-img {
  text-align: center;
}
#featured-item-slider .list-img img {
  max-width: 301px;
  max-height: 227px;
}
.fa-slider {
  .list-img img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .member-info {
    padding: 8px 15px;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    a {
      display: block;
    }
    .posting-year {
      color: #ACB0B7;
    }
  }
  .member-icon img {
    width: 54px;
    height: 54px;
    border-radius: 30px;
    margin: 3px 0;
  }
  .fa-price {
    min-height: 70px;
    padding: 10px 0px;
    h4 {
      font-size: 16px;
      line-height: 21px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      span {
        font-size: 18px;
        line-height: 24px;
        display: block;
      }
    }
  }
}

.fa-slider-badge {
  position: absolute;
  left: 8px;
  top: 8px;
  text-indent: -9999px;
  display: block;
  width: 44px;
  height: 45px;
  z-index: 2;
}
.left-block {
  width: 75%;
}
.right-block {
  width: 25%;
}
@media only screen and (min-width: 1152px) {
  .discover-categories a {
    &:first-child {
      margin-left: 2px;
    }
  }
}

@media only screen and (max-width: 959px) {
  .homepage-hero .forsale-phone {
    display: none !important;
  }
}

@media (min-width: 320px) and (max-width: 759px) {

    .homepage-hero {
        position: relative;
        height: 460px !important;
    }
    .homepage-title, .homepage-title-small {
        margin: 0 0px 20px;
    }
    .sub-head-text {
        font-size: 14px;
        letter-spacing: 0;
        line-height: 22px;
        text-align: center;
    }
    #home-search .search-btn button { height:40px; width:40px; }
}

@media (min-width:960px) and (max-width: 1151px) {
    .discover-categories a {
      width: 98px !important;
      height: 98px !important;
      background-size: cover;
      ackground-position: center;
      margin: 8px 8px;
      &:hover, &:focus, &:active {
        width: 98px !important;
        height: 98px !important;
        background-size: cover;
        ackground-position: center;
        margin: 8px 8px;
      }
    }
    .homepage-hero .forsale-phone {
        width: 200px;
        top: 114px;
    } 
}


@media (min-width:960px) and (max-width: 1151px) {
    #featured-item-slider .list-img {
      width: auto;
      height: 190px;
    }

    #popular_shops_slider {
      .item {
        width: 210px;
      }
      .list-img {
        width: auto;
      }
    }
   
}
@media (min-width:760px) and (max-width: 959px) {
    #popular_shops_slider {
      .item {
        width: 230px;
      }
      .list-img {
        width: auto;
      }
    }
    .popular-items .item-box .popular-graphic img {
        width: 100%;
        height: 100%;
    }
    #featured-item-slider .list-img {
        width: auto;
        height: 140px;
    }
    .discover-categories a, .discover-categories a:hover, .discover-categories a:focus, .discover-categories a:active {
      margin: 8px 8px !important;
      background-size: cover;
      background-position: center;
    }
}
@media (min-width:641px) and (max-width: 759px) {
    #featured-item-slider .list-img {
        width: auto;
        height: 190px;
    }
    .home-search {
        z-index: 999;
    }
    .discover-categories a, .discover-categories a:hover, .discover-categories a:focus, .discover-categories a:active {
      width: 60px;
      height: 60px;
      margin: 7px 7px;
      background-size: cover;
      background-position: center;
    }
}
@media (min-width:320px) and (max-width: 640px) {
    .homepage-title, .homepage-title-small {
        font-size: 18px !important;
	    letter-spacing: 0 !important;
	    line-height: 24px !important;
        margin: 0 0px 20px !important;
    }

    .small-slider .owl-item .item, .fa-slider .owl-item .item {
      margin: 0 auto !important;
    }
    #featured-item-slider {
      .item {
        width: 320px;
        margin: 0 auto;
      }
      .list-img {
        width: auto;
      }
    }
    .small-slider .small-content {
        background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%226%22%20height%3D%2213%22%20viewBox%3D%22-1414%20465.9%206%2013%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3B%7D%0D%0A%3C/style%3E%3Ctitle%3Ewhite-arrow%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-506.000000%2C%20-1010.000000%29%22%3E%3Cg%20transform%3D%22translate%28180.000000%2C%20816.000000%29%22%3E%3Cg%20transform%3D%22translate%281.000000%2C%2097.000000%29%22%3E%3Cg%20transform%3D%22translate%28184.000000%2C%200.000000%29%22%3E%3Cg%20transform%3D%22translate%28142.000000%2C%2098.500000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-1414%20465.9l4%205%20-4%205%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') 140px 97px no-repeat;
            background-color: rgba(0, 0, 0, 0);
        background-color: rgba(49,49,51,0.7);
    }

    .discover-categories a, .discover-categories a:hover, .discover-categories a:focus, .discover-categories a:active {
      width: 60px;
      height: 60px;
      margin: 7px 7px;
      background-size: cover;
      background-position: center;
    }

    a.homepage-hero .tagline img {
      max-width: 263px;
    }

    .homepage-hero {
      min-height: auto;
      padding-bottom: 40px;
    }

    .home-category-list {
      width: 115px;
    }
    .select-styled {
        text-overflow: clip !important;
        font-size: 13px !important;
        line-height: 22px !important;
    }

    .homepage-hero .caption {
      margin-top: 85px;
    }

    .home-search {
      margin-top: 25px;
      .search-btn {       
        width: 40px;
        height: 40px;
        text-indent: -9999px;
        border-radius: 0 2px 2px 0;
        color: #FFFFFF;
        display: block;
        vertical-align: top;
      }
    }

    .homepage-hero .mob-block {
      padding: 0px;
    }

    .discover-categories {
      width: 320px;
      float: none;
      margin: 0 auto;
      text-align: center;
    }
}
@media (min-width:320px) and (max-width: 399px) {
	#popular_shops_slider .item, #popular_shops_slider .list-img, #featured-item-slider .item, #featured-item-slider .list-img {
		width: 100% !important;
	}
}

