.landing-header {
    position: relative;
    background-size: cover;
    background-position: 50%;
    min-height: 400px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.landing-header.has-background-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.landing-header {
    background-attachment: unset;
    background-position: 50% 0;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.landing-header-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 380px;
    text-align: center;
    z-index: 1;
}
.landing-header .cat-icon {
    margin: 20px 0 0 0;
}
.landing-header h1 {
    font-size: 72px;
    line-height: 78px;
    margin: 0px 0 0 0;
    font-weight: 400;
}
.intro-text {
    margin: 15px auto 0;
    font-size: 18px;
    line-height: 26px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22526%22%20height%3D%222%22%20viewBox%3D%22-136%20235%20526%202%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%20-136%20235%20526%202%22%3E%0D%0A%20%20%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%20%20%20%20%0D%0A%09.st0%7Bfill%3Anone%3Bstroke%3A%23FFFFFF%3Bstroke-width%3A2%3Bstroke-linecap%3Around%3Bstroke-linejoin%3Around%3Bstroke-dasharray%3A1%2C5%3B%7D%0D%0A%0D%0A%20%20%3C/style%3E%0D%0A%20%20%3Ctitle%3E%0D%0A%20%20%20%20Hero-dotted-Line%0D%0A%20%20%3C/title%3E%0D%0A%20%20%3Cdesc%3E%0D%0A%20%20%20%20Created%20with%20Sketch.%0D%0A%20%20%3C/desc%3E%0D%0A%20%20%3Cg%20id%3D%22landing-page%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Desktop---Landing-Page-For-Sales-%22%20transform%3D%22translate%28-456.000000%2C%20-312.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%20%20%20%20%20%20%3Cg%20id%3D%22Hero%22%20transform%3D%22translate%28-280.000000%2C%20-557.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22p-_x2B_-for-sale-active-2-_x2B_-For-sale-_x2B_-Line%22%20transform%3D%22translate%28737.000000%2C%20732.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Hero-dotted-Line%22%20class%3D%22st0%22%20d%3D%22M-135.5%20373h525%22/%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;

}
.intro-text .item-count {
    margin: 0 0 11px;
    padding: 17px 0 0 0;
}
@media (min-width: 760px) and (max-width: 959px) {
    .landing-header {
        background-position: 100% !important;
        background-repeat: no-repeat !important;
        background-attachment: initial !important;
    }
}
@media (min-width: 320px) and (max-width: 759px) {
    .landing-header {
        height: 260px;
        min-height: 260px;
        background-position: 100% !important;
        background-repeat: no-repeat !important;
        background-attachment: initial !important;
    }
    .landing-header .landing-header-content {
        position: absolute;
    }
    .landing-header h1 {
        font-size: 50px;
    }
}
@media only screen and (orientation: landscape) {
    .landing-header {
        background-attachment: unset !important;
        background-position: center top !important;
    }
}
.motors .popular-items .item-box {
    height: 206px;
}
.explore-price {
    position: absolute;
    left: 0;
    bottom: 15px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    z-index: 3;
}
.homepage-more-items {
    border-radius: 2px;
    position: relative;
    min-height: 340px;
    text-align: center;
    line-height: 320px;
    margin-bottom: 20px;
}
.landing-block .list-location-box .link-list {
    column-count: 4;

.budget-box {
    list-style: none;
}
.budget-box .budget-field {
    width: 50%;
    float: left;
    position: relative;
}
.budget-box .budget-field span {
    padding: 10px 0px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.budget-box .budget-field input {
    padding-left: 1.5rem;
}
.budget-to-caption {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
}
.body_type_choice {
cursor: pointer;
}
.any-category {
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%22111%22%20height%3D%22112%22%20viewBox%3D%220%200%20111%20112%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%200%200%20111%20112%22%3E%0D%0A%20%20%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%20%20%20%20%0D%0A%09.st0%7Bfill%3A%23FFFFFF%3B%7D%0D%0A%09.st1%7Bfill%3A%23313133%3B%7D%0D%0A%0D%0A%20%20%3C/style%3E%0D%0A%20%20%3Ctitle%3E%0D%0A%20%20%20%20Any-hover%0D%0A%20%20%3C/title%3E%0D%0A%20%20%3Cdesc%3E%0D%0A%20%20%20%20Created%20with%20Sketch.%0D%0A%20%20%3C/desc%3E%0D%0A%20%20%3Cg%20id%3D%22landing-page%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Desktop---landing-Page-Motors%22%20transform%3D%22translate%28-185.000000%2C%20-807.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%20%20%20%20%20%20%3Cg%20id%3D%22Find-a-car%22%20transform%3D%22translate%28-43.000000%2C%20537.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Part2-Copy%22%20transform%3D%22translate%28227.000000%2C%20242.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Any-hover%22%20transform%3D%22translate%281.000000%2C%2028.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Fill-1-Copy%22%20class%3D%22st0%22%20d%3D%22M55.5%200.2C24.9%200.2%200%2025.1%200%2055.7c0%2030.6%2024.9%2055.5%2055.5%2055.5%2030.6%200%2055.5-24.9%2055.5-55.5C111%2025.1%2086.1%200.2%2055.5%200.2z%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22Any%22%20class%3D%22st1%22%20d%3D%22M39.8%2059.3c-0.1%200.3-0.2%200.5-0.5%200.5l-0.6%200.1v1.5h4.2v-1.5l-1.1-0.1%200.5-1.6h4.2l0.4%201.1c0.1%200.4-0.1%200.5-0.4%200.5l-0.7%200.1v1.5h4.6v-1.5l-1-0.1h0l-3.7-10.4h-4.1v1.5l1.1%200.1L39.8%2059.3zM44.4%2051.4L44.4%2051.4l1.7%205.1h-3.3L44.4%2051.4zM51%2053.7l0.8%200.1c0.3%200%200.5%200.2%200.5%200.6v5c0%200.5-0.2%200.6-0.5%200.6L51.1%2060v1.4h4.3v-1.4l-1-0.1v-4.4c0-0.9%200.7-1.8%201.9-1.8%201.2%200%201.5%200.8%201.5%201.9v3.7c0%200.5-0.2%200.6-0.5%200.6L56.5%2060v1.4h4.3v-1.4l-1-0.1v-4.7c0-2.1-1.1-3.1-2.9-3.1%20-1.2%200-2.3%200.5-2.9%201.4v-1.2h-3V53.7zM68.5%2061c0%201.6-0.7%202.6-2.3%202.6%20-0.5%200-0.9-0.1-1.3-0.2%20-0.3-0.1-0.4-0.3-0.4-0.6V62l-1.7%200.1v2.5c0.8%200.4%202.2%200.6%203.4%200.6%202.7%200%204.2-1.2%204.2-4.2v-8.7h-3.2v1.5l0.6%200c0.3%200%200.5%200.1%200.5%200.5v3.3c0%200.9-0.7%201.8-1.9%201.8%20-1.2%200-1.3-0.8-1.3-1.9v-5.2h-3.2v1.5l0.6%200c0.3%200%200.4%200.1%200.4%200.5v3.6c0%202.1%201%203.1%202.8%203.1%201.2%200%202.3-0.5%202.9-1.4V61z%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat;
}
/* Motors Images */
.any-category { background: url('/bundles/fafrontend/images/Ic-btn-Any.svg') no-repeat !important; }
.car-hatchback { background: url('/bundles/fafrontend/images/motors/Ic-btn-Hatchback.svg') no-repeat !important; }
.car-coupes { background: url('/bundles/fafrontend/images/motors/Ic-btn-Coupes1.svg') no-repeat !important; }
.car-saloons { background: url('/bundles/fafrontend/images/motors/Ic-btn-Saloons.svg') no-repeat !important; }
.car-convertibles { background: url('/bundles/fafrontend/images/motors/Ic-btn-Convertibles.svg') no-repeat !important; }
.car-estates { background: url('/bundles/fafrontend/images/motors/Ic-btn-Estates.svg') no-repeat !important; }
.car-mpvs { background: url('/bundles/fafrontend/images/motors/Ic-btn-MPVs.svg') no-repeat !important; }
.car-4x4 { background: url('/bundles/fafrontend/images/motors/Ic-btn-4x4.svg') no-repeat !important; }

.any-category:hover { background: url('/bundles/fafrontend/images/Ic-btn-Any-Hover.svg') no-repeat !important; }
.car-hatchback:hover { background: url('/bundles/fafrontend/images/motors/Ic-btn-Hatchback-Hover.svg') no-repeat !important; }
.car-coupes:hover { background: url('/bundles/fafrontend/images/motors/Ic-btn-Coupes-Hover.svg') no-repeat !important; }
.car-saloons:hover { background: url('/bundles/fafrontend/images/motors/Ic-btn-Saloons-Hover.svg') no-repeat !important; }
.car-convertibles:hover { background: url('/bundles/fafrontend/images/motors/Ic-btn-Convertibles-Hover.svg') no-repeat !important; }
.car-estates:hover { background: url('/bundles/fafrontend/images/motors/Ic-btn-Estates-Hover.svg') no-repeat !important; }
.car-mpvs:hover { background: url('/bundles/fafrontend/images/motors/Ic-btn-MPVs-Hover.svg') no-repeat !important; }
.car-4x4:hover { background: url('/bundles/fafrontend/images/motors/Ic-btn-4x4-Hover.svg') no-repeat !important; }

.any-category.active { background: url('/bundles/fafrontend/images/Ic-btn-Any-ON.svg') no-repeat !important;border-radius: 5px !important;  }
.car-hatchback.active { background: url('/bundles/fafrontend/images/motors/Ic-btn-Hatchback-ON.svg') no-repeat !important;border-radius: 5px !important; }
.car-coupes.active { background: url('/bundles/fafrontend/images/motors/Ic-btn-Coupes-ON.svg') no-repeat !important;border-radius: 5px !important; }
.car-saloons.active { background: url('/bundles/fafrontend/images/motors/Ic-btn-Saloons-ON.svg') no-repeat !important;border-radius: 5px !important; }
.car-convertibles.active { background: url('/bundles/fafrontend/images/motors/Ic-btn-Convertibles-ON.svg') no-repeat !important;border-radius: 5px !important; }
.car-estates.active { background: url('/bundles/fafrontend/images/motors/Ic-btn-Estates-ON.svg') no-repeat !important;border-radius: 5px !important; }
.car-mpvs.active { background: url('/bundles/fafrontend/images/motors/Ic-btn-MPVs-ON.svg') no-repeat !important;border-radius: 5px !important; }
.car-4x4.active { background: url('/bundles/fafrontend/images/motors/Ic-btn-4x4-ON.svg') no-repeat !important;border-radius: 5px !important; }

/* Property Images */
.pt-commercial { background: url('/bundles/fafrontend/images/Properties/Commercial.svg') no-repeat !important; }
.pt-flats { background: url('/bundles/fafrontend/images/Properties/Flats.svg') no-repeat !important; }
.pt-garages { background: url('/bundles/fafrontend/images/Properties/Garages.svg') no-repeat !important; }
.pt-houses { background: url('/bundles/fafrontend/images/Properties/Houses.svg') no-repeat !important; }
.pt-land { background: url('/bundles/fafrontend/images/Properties/Land.svg') no-repeat !important; }
.pt-mobile-homes { background: url('/bundles/fafrontend/images/Properties/Mobile-Homes.svg') no-repeat !important; }
.pt-overseas { background: url('/bundles/fafrontend/images/Properties/Overseas.svg') no-repeat !important; }
.pt-parking { background: url('/bundles/fafrontend/images/Properties/Parking.svg') no-repeat !important; }
.pt-rooms { background: url('/bundles/fafrontend/images/Properties/Rooms.svg') no-repeat !important; }

.pt-commercial:hover { background: url('/bundles/fafrontend/images/Properties/Commercial-Hover.svg') no-repeat !important; }
.pt-flats:hover { background: url('/bundles/fafrontend/images/Properties/Flats-Hover.svg') no-repeat !important; }
.pt-garages:hover { background: url('/bundles/fafrontend/images/Properties/Garages-Hover.svg') no-repeat !important; }
.pt-houses:hover { background: url('/bundles/fafrontend/images/Properties/Houses-Hover.svg') no-repeat !important; }
.pt-land:hover { background: url('/bundles/fafrontend/images/Properties/Land-Hover.svg') no-repeat !important; }
.pt-mobile-homes:hover { background: url('/bundles/fafrontend/images/Properties/Mobile-Homes-Hover.svg') no-repeat !important; }
.pt-overseas:hover { background: url('/bundles/fafrontend/images/Properties/Overseas-Hover.svg') no-repeat !important; }
.pt-parking:hover { background: url('/bundles/fafrontend/images/Properties/Parking-Hover.svg') no-repeat !important; }
.pt-rooms:hover { background: url('/bundles/fafrontend/images/Properties/Rooms-Hover.svg') no-repeat !important; }

.pt-commercial.active { background: url('/bundles/fafrontend/images/Properties/Commercial-ON.svg') no-repeat !important; }
.pt-flats.active { background: url('/bundles/fafrontend/images/Properties/Flats-ON.svg') no-repeat !important; }
.pt-garages.active { background: url('/bundles/fafrontend/images/Properties/Garages-ON.svg') no-repeat !important; }
.pt-houses.active { background: url('/bundles/fafrontend/images/Properties/Houses-ON.svg') no-repeat !important; }
.pt-land.active { background: url('/bundles/fafrontend/images/Properties/Land-ON.svg') no-repeat !important; }
.pt-mobile-homes.active { background: url('/bundles/fafrontend/images/Properties/Mobile-Homes-ON.svg') no-repeat !important; }
.pt-overseas.active { background: url('/bundles/fafrontend/images/Properties/Overseas-ON.svg') no-repeat !important; }
.pt-parking.active { background: url('/bundles/fafrontend/images/Properties/Parking-ON.svg') no-repeat !important; }
.pt-rooms.active { background: url('/bundles/fafrontend/images/Properties/Rooms-ON.svg') no-repeat !important; }

/* Job Images */
.job-full-time { background: url('/bundles/fafrontend/images/Jobs/Full-Time.svg') no-repeat !important; }
.job-part-time { background: url('/bundles/fafrontend/images/Jobs/Part-Time.svg') no-repeat !important; }
.job-contract { background: url('/bundles/fafrontend/images/Jobs/Contract.svg') no-repeat !important; }
.job-weekend { background: url('/bundles/fafrontend/images/Jobs/Weekends.svg') no-repeat !important; }
.job-evenings { background: url('/bundles/fafrontend/images/Jobs/Evenings.svg') no-repeat !important; }
.job-home-working { background: url('/bundles/fafrontend/images/Jobs/Home-Working.svg') no-repeat !important; }
.job-freelance { background: url('/bundles/fafrontend/images/Jobs/Freelance.svg') no-repeat !important; }
.job-wanted { background: url('/bundles/fafrontend/images/Jobs/Wanted.svg') no-repeat !important; }
.job-temporary { background: url('/bundles/fafrontend/images/Jobs/Temporary.svg') no-repeat !important; }

.job-full-time:hover { background: url('/bundles/fafrontend/images/Jobs/Full-Time-Hover.svg') no-repeat !important; }
.job-part-time:hover { background: url('/bundles/fafrontend/images/Jobs/Part-Time-Hover.svg') no-repeat !important; }
.job-contract:hover { background: url('/bundles/fafrontend/images/Jobs/Contract-Hover.svg') no-repeat !important; }
.job-weekend:hover { background: url('/bundles/fafrontend/images/Jobs/Weekends-Hover.svg') no-repeat !important; }
.job-evenings:hover { background: url('/bundles/fafrontend/images/Jobs/Evenings-Hover.svg') no-repeat !important; }
.job-home-working:hover { background: url('/bundles/fafrontend/images/Jobs/Home-Working-Hover.svg') no-repeat !important; }
.job-freelance:hover { background: url('/bundles/fafrontend/images/Jobs/Freelance-Hover.svg') no-repeat !important; }
.job-wanted:hover { background: url('/bundles/fafrontend/images/Jobs/Wanted-Hover.svg') no-repeat !important; }
.job-temporary:hover { background: url('/bundles/fafrontend/images/Jobs/Temporary-Hover.svg') no-repeat !important; }

.job-full-time.active { background: url('/bundles/fafrontend/images/Jobs/Full-Time-ON1.svg') no-repeat !important; }
.job-part-time.active { background: url('/bundles/fafrontend/images/Jobs/Part-Time-ON1.svg') no-repeat !important; }
.job-contract.active { background: url('/bundles/fafrontend/images/Jobs/Contract-ON.svg') no-repeat !important; }
.job-weekend.active { background: url('/bundles/fafrontend/images/Jobs/Weekends-ON.svg') no-repeat !important; }
.job-evenings.active { background: url('/bundles/fafrontend/images/Jobs/Evenings-ON.svg') no-repeat !important; }
.job-home-working.active { background: url('/bundles/fafrontend/images/Jobs/Home-Working-ON.svg') no-repeat !important; }
.job-freelance.active { background: url('/bundles/fafrontend/images/Jobs/Freelance-ON.svg') no-repeat !important; }
.job-wanted.active { background: url('/bundles/fafrontend/images/Jobs/Wanted-ON.svg') no-repeat !important; }
.job-temporary.active { background: url('/bundles/fafrontend/images/Jobs/Temporary-ON.svg') no-repeat !important; }

.landing-circles li {
    margin: 0 20px 20px 0px
}
.any-category.active, .car-hatchback.active, .car-coupes.active, .car-saloons.active, .car-convertibles.active, .car-estates.active, .car-mpvs.active, .car-4x4.active {
    background-size: contain;
}
@media (min-width: 760px) and (max-width: 959px) {
    .landing-circles li:first-child {
        margin-left: 0px;
    }
}
@media (min-width: 641px) and (max-width: 759px) {
    .landing-block .list-location-box .link-list {
        column-count: 3;
    }
}
@media (min-width: 320px) and (max-width: 640px) {
    .landing-block .list-location-box .link-list {
        column-count: 2;
    }
}

// For sale
.for-sale .popular-items .item-box {
    height: 206px;
    overflow: hidden;
}

// Property
.all-cap {
    width: 32%;
}
.left-cap {
    float: left;
}
.middle-cap {
    float: none;
    margin-left: 25px;
    margin-right:25px;
}
.right-cap {
    float: right;
}
.find-property .capsule-links {
    margin: 7px 0 33px;
}
.find-property .capsule-links a {
    margin: 0;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 38px;
    font-weight: 700;
    padding: 0 16px;
    vertical-align: middle;
    border-radius: 20px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
}
.property .landing-circles li, .jobs .landing-circles li {
    margin: 0 20px 20px 0px !important;
}
@media (min-width: 760px) and (max-width: 959px) {
    .property .landing-circles li:first-child {
        margin-left: 0px;
    }
    .distance-budget-md-block {
        display: inline-flex;
    }
    .distance-budget-md-block .buget-block {
        padding: 0 0 0 20px !important;
    }
}


// Animals
.owl-carousel .item .custom-card {
    border: 0px !important;
}
.landing-pet-circles {
    list-style: none;
}
.landing-pet-circles a {
    display: block;
    width: 152px;
    height: 153px;
    text-indent: -9999px;
}
.landing-pet-circles li {
    width: 152px;
    height: 153px;
    float: left;
    margin: 0 26px 19px 0;
}
/* Animals Images */
.pets-dogs { background: url('/bundles/fafrontend/images/animals/Ic-btn-Dogs.svg') no-repeat !important; }
.pets-cats { background: url('/bundles/fafrontend/images/animals/Ic-btn-Cats.svg') no-repeat !important; }
.pets-birds { background: url('/bundles/fafrontend/images/animals/Ic-btn-Birds.svg') no-repeat !important; }
.pets-rabbits { background: url('/bundles/fafrontend/images/animals/Ic-btn-Rabbits.svg') no-repeat !important; }
.pets-guinea-pigs { background: url('/bundles/fafrontend/images/animals/Ic-btn-Guinea-Pigs.svg') no-repeat !important; }
.pets-reptiles { background: url('/bundles/fafrontend/images/animals/Ic-btn-Reptiles.svg') no-repeat !important; }
.pets-fish { background: url('/bundles/fafrontend/images/animals/Ic-btn-Fish.svg') no-repeat !important; }
.pets-insects { background: url('/bundles/fafrontend/images/animals/Ic-btn-Insects.svg') no-repeat !important; }
.pets-exotic-pets { background: url('/bundles/fafrontend/images/animals/Ic-btn-Exotic.svg') no-repeat !important; }
.pets-other-pets { background: url('/bundles/fafrontend/images/animals/Ic-btn-Other.svg') no-repeat !important; }
.pets-pet-accessories { background: url('/bundles/fafrontend/images/animals/Ic-btn-Pet-accessories.svg') no-repeat !important; }
.pets-pet-supplies { background: url('/bundles/fafrontend/images/animals/Ic-btn-Pet-supplies.svg') no-repeat !important; }

.pets-dogs:active, .pets-dogs:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Dogs-Hover.svg') no-repeat !important; }
.pets-cats:active, .pets-cats:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Cats-Hover.svg') no-repeat !important; }
.pets-birds:active, .pets-birds:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Birds-Hover.svg') no-repeat !important; }
.pets-rabbits:active, .pets-rabbits:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Rabbits-Hover.svg') no-repeat !important; }
.pets-guinea-pigs:active, .pets-guinea-pigs:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Guinea-Pigs-Hover.svg') no-repeat !important; }
.pets-reptiles:active, .pets-reptiles:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Reptiles-Hover.svg') no-repeat !important; }
.pets-fish:active, .pets-fish:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Fish-Hover.svg') no-repeat !important; }
.pets-insects:active, .pets-insects:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Insects-Hover.svg') no-repeat !important; }
.pets-exotic-pets:active, .pets-exotic-pets:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Exotic-Hover.svg') no-repeat !important; }
.pets-other-pets:active, .pets-other-pets:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Other-Hover.svg') no-repeat !important; }
.pets-pet-accessories:active, .pets-pet-accessories:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Pet-accessories-Hover.svg') no-repeat !important; }
.pets-pet-supplies:active, .pets-pet-supplies:hover { background: url('/bundles/fafrontend/images/animals/Ic-btn-Pet-supplies-Hover.svg') no-repeat !important; }

@media (min-width: 320px) and (max-width: 385px) {
    .landing-pet-circles a {
        width: 130px;
        height: 131px;
    }
    .landing-pet-circles li {
        width: 130px;
        height: 131px;
        margin: 0 15px 19px 0;
    }
    .pets_choice {
        background-size: 130px 131px !important;
    }
}

.custom-card .card-body {
    border-top: 1px solid #e3e3e3;
}
.custom-card .card-img-top {
    object-fit: none;
}
.custom-card .similar-placeholder {
    border: 0;
    background-color: #efefef;
    max-height: 160px;
}
.custom-card .card-img-top {
    max-height: 160px;
}
