.landing-header {
    position: relative;
    background-size: cover;
    background-position: 50%;
    min-height: 400px;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: start;
    align-items: center;
}
.landing-header.has-background-dim:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.landing-header {
    background-attachment: unset;
    background-position: 50% 0;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
}
.landing-header-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 380px;
    text-align: center;
    z-index: 1;
}
.landing-header .cat-icon {
    margin: 50px 0 0 0;
}
.landing-header h1 {
    font-size: 72px;
    line-height: 78px;
    color: #FFFFFF;
    margin: 0px 0 0 0;

}
.intro-text {
    margin: 15px auto 0;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 26px;
}
.intro-text .item-count {
    margin: 0 0 11px;
    padding: 17px 0 0 0;
}

.landing-header .intro-text .landing-desc {
    font-size: 14px;
    line-height: 22px;
    text-align: center;
}

.landing-circles { margin:auto !important; width: fit-content !important; }
.landing-circles li.active { border-radius:4px; }
.pets_choice {
    background-size: 152px 153px !important;
}

/* Animals Images */
.pets-dogs { background: url('/Frontend/images/animals/Ic-btn-Dogs.png') no-repeat !important; }
.pets-cats { background: url('/Frontend/images/animals/Ic-btn-Cats.png') no-repeat !important; }
.pets-birds { background: url('/Frontend/images/animals/Ic-btn-Birds.png') no-repeat !important; }
.pets-rabbits { background: url('/Frontend/images/animals/Ic-btn-Rabbits.png') no-repeat !important; }
.pets-guinea-pigs { background: url('/Frontend/images/animals/Ic-btn-Guinea-Pigs.png') no-repeat !important; }
.pets-reptiles { background: url('/Frontend/images/animals/Ic-btn-Reptiles.png') no-repeat !important; }
.pets-fish { background: url('/Frontend/images/animals/Ic-btn-Fish.png') no-repeat !important; }
.pets-insects { background: url('/Frontend/images/animals/Ic-btn-Insects.png') no-repeat !important; }
.pets-exotic-pets { background: url('/Frontend/images/animals/Ic-btn-Exotic.png') no-repeat !important; }
.pets-other-pets { background: url('/Frontend/images/animals/Ic-btn-Other.png') no-repeat !important; }
.pets-pet-accessories { background: url('/Frontend/images/animals/Ic-btn-Pet-accessories.png') no-repeat !important; }
.pets-pet-supplies { background: url('/Frontend/images/animals/Ic-btn-Pet-supplies.png') no-repeat !important; }

.pets-dogs:active, .pets-dogs:hover { background: url('/Frontend/images/animals/Ic-btn-Dogs-Hover.png') no-repeat !important; }
.pets-cats:active, .pets-cats:hover { background: url('/Frontend/images/animals/Ic-btn-Cats-Hover.png') no-repeat !important; }
.pets-birds:active, .pets-birds:hover { background: url('/Frontend/images/animals/Ic-btn-Birds-Hover.png') no-repeat !important; }
.pets-rabbits:active, .pets-rabbits:hover { background: url('/Frontend/images/animals/Ic-btn-Rabbits-Hover.png') no-repeat !important; }
.pets-guinea-pigs:active, .pets-guinea-pigs:hover { background: url('/Frontend/images/animals/Ic-btn-Guinea-Pigs-Hover.png') no-repeat !important; }
.pets-reptiles:active, .pets-reptiles:hover { background: url('/Frontend/images/animals/Ic-btn-Reptiles-Hover.png') no-repeat !important; }
.pets-fish:active, .pets-fish:hover { background: url('/Frontend/images/animals/Ic-btn-Fish-Hover.png') no-repeat !important; }
.pets-insects:active, .pets-insects:hover { background: url('/Frontend/images/animals/Ic-btn-Insects-Hover.png') no-repeat !important; }
.pets-exotic-pets:active, .pets-exotic-pets:hover { background: url('/Frontend/images/animals/Ic-btn-Exotic-Hover.png') no-repeat !important; }
.pets-other-pets:active, .pets-other-pets:hover { background: url('/Frontend/images/animals/Ic-btn-Other-Hover.png') no-repeat !important; }
.pets-pet-accessories:active, .pets-pet-accessories:hover { background: url('/Frontend/images/animals/Ic-btn-Pet-accessories-Hover.png') no-repeat !important; }
.pets-pet-supplies:active, .pets-pet-supplies:hover { background: url('/Frontend/images/animals/Ic-btn-Pet-supplies-Hover.png') no-repeat !important; }

/* Motors Images */
.any-category {
  background: url('/Frontend/images/Ic-btn-Any.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/Ic-btn-Any-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/Ic-btn-Any-ON.png') no-repeat;
  }
}
.car-hatchback {
  background: url('/Frontend/images/motors/Ic-btn-Hatchback.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/motors/Ic-btn-Hatchback-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/motors/Ic-btn-Hatchback-ON.png') no-repeat;
  }
}
.car-coupes {
  background: url('/Frontend/images/motors/Ic-btn-Coupes.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/motors/Ic-btn-Coupes-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/motors/Ic-btn-Coupes-ON.png') no-repeat;
  }
}
.car-saloons {
  background: url('/Frontend/images/motors/Ic-btn-Saloons.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/motors/Ic-btn-Saloons-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/motors/Ic-btn-Saloons-ON.png') no-repeat;
  }
}
.car-convertibles {
  background: url('/Frontend/images/motors/Ic-btn-Convertibles.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/motors/Ic-btn-Convertibles-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/motors/Ic-btn-Convertibles-ON.png') no-repeat;
  }
}
.car-estates {
  background: url('/Frontend/images/motors/Ic-btn-Estates.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/motors/Ic-btn-Estates-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/motors/Ic-btn-Estates-ON.png') no-repeat;
  }
}
.car-mpvs {
  background: url('/Frontend/images/motors/Ic-btn-MPVs.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/motors/Ic-btn-MPVs-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/motors/Ic-btn-MPVs-ON.png') no-repeat;
  }
}
.car-4x4 {
  background: url('/Frontend/images/motors/Ic-btn-4x4.png') no-repeat;
  &:hover {
    background: url('/Frontend/images/motors/Ic-btn-4x4-Hover.png') no-repeat;
  }
  &.active {
    background: url('/Frontend/images/motors/Ic-btn-4x4-ON.png') no-repeat;
  }
}

/* Property Images */
.pt-commercial { background: url('/Frontend/images/Properties/Commercial.png') no-repeat !important; }
.pt-flats { background: url('/Frontend/images/Properties/Flats.png') no-repeat !important; }
.pt-garages { background: url('/Frontend/images/Properties/Garages.png') no-repeat !important; }
.pt-houses { background: url('/Frontend/images/Properties/Houses.png') no-repeat !important; }
.pt-land { background: url('/Frontend/images/Properties/Land.png') no-repeat !important; }
.pt-mobile-homes { background: url('/Frontend/images/Properties/Mobile-Homes.png') no-repeat !important; }
.pt-overseas { background: url('/Frontend/images/Properties/Overseas.png') no-repeat !important; }
.pt-parking { background: url('/Frontend/images/Properties/Parking.png') no-repeat !important; }
.pt-rooms { background: url('/Frontend/images/Properties/Rooms.png') no-repeat !important; }

.pt-commercial:hover { background: url('/Frontend/images/Properties/Commercial-Hover.png') no-repeat !important; }
.pt-flats:hover { background: url('/Frontend/images/Properties/Flats-Hover.png') no-repeat !important; }
.pt-garages:hover { background: url('/Frontend/images/Properties/Garages-Hover.png') no-repeat !important; }
.pt-houses:hover { background: url('/Frontend/images/Properties/Houses-Hover.png') no-repeat !important; }
.pt-land:hover { background: url('/Frontend/images/Properties/Land-Hover.png') no-repeat !important; }
.pt-mobile-homes:hover { background: url('/Frontend/images/Properties/Mobile-Homes-Hover.png') no-repeat !important; }
.pt-overseas:hover { background: url('/Frontend/images/Properties/Overseas-Hover.png') no-repeat !important; }
.pt-parking:hover { background: url('/Frontend/images/Properties/Parking-Hover.png') no-repeat !important; }
.pt-rooms:hover { background: url('/Frontend/images/Properties/Rooms-Hover.png') no-repeat !important; }

.pt-commercial.active { background: url('/Frontend/images/Properties/Commercial-ON.png') no-repeat !important; }
.pt-flats.active { background: url('/Frontend/images/Properties/Flats-ON.png') no-repeat !important; }
.pt-garages.active { background: url('/Frontend/images/Properties/Garages-ON.png') no-repeat !important; }
.pt-houses.active { background: url('/Frontend/images/Properties/Houses-ON.png') no-repeat !important; }
.pt-land.active { background: url('/Frontend/images/Properties/Land-ON.png') no-repeat !important; }
.pt-mobile-homes.active { background: url('/Frontend/images/Properties/Mobile-Homes-ON.png') no-repeat !important; }
.pt-overseas.active { background: url('/Frontend/images/Properties/Overseas-ON.png') no-repeat !important; }
.pt-parking.active { background: url('/Frontend/images/Properties/Parking-ON.png') no-repeat !important; }
.pt-rooms.active { background: url('/Frontend/images/Properties/Rooms-ON.png') no-repeat !important; }

/* Job Images */
.job-full-time { background: url('/Frontend/images/Jobs/Full-Time.png') no-repeat !important; }
.job-part-time { background: url('/Frontend/images/Jobs/Part-Time.png') no-repeat !important; }
.job-contract { background: url('/Frontend/images/Jobs/Contract.png') no-repeat !important; }
.job-weekend { background: url('/Frontend/images/Jobs/Weekends.png') no-repeat !important; }
.job-evenings { background: url('/Frontend/images/Jobs/Evenings.png') no-repeat !important; }
.job-home-working { background: url('/Frontend/images/Jobs/Home-Working.png') no-repeat !important; }
.job-freelance { background: url('/Frontend/images/Jobs/Freelance.png') no-repeat !important; }
.job-wanted { background: url('/Frontend/images/Jobs/Wanted.png') no-repeat !important; }
.job-temporary { background: url('/Frontend/images/Jobs/Temporary.png') no-repeat !important; }

.job-full-time:hover { background: url('/Frontend/images/Jobs/Full-Time-Hover.png') no-repeat !important; }
.job-part-time:hover { background: url('/Frontend/images/Jobs/Part-Time-Hover.png') no-repeat !important; }
.job-contract:hover { background: url('/Frontend/images/Jobs/Contract-Hover.png') no-repeat !important; }
.job-weekend:hover { background: url('/Frontend/images/Jobs/Weekends-Hover.png') no-repeat !important; }
.job-evenings:hover { background: url('/Frontend/images/Jobs/Evenings-Hover.png') no-repeat !important; }
.job-home-working:hover { background: url('/Frontend/images/Jobs/Home-Working-Hover.png') no-repeat !important; }
.job-freelance:hover { background: url('/Frontend/images/Jobs/Freelance-Hover.png') no-repeat !important; }
.job-wanted:hover { background: url('/Frontend/images/Jobs/Wanted-Hover.png') no-repeat !important; }
.job-temporary:hover { background: url('/Frontend/images/Jobs/Temporary-Hover.png') no-repeat !important; }

.job-full-time.active { background: url('/Frontend/images/Jobs/Full-Time-ON.png') no-repeat !important; }
.job-part-time.active { background: url('/Frontend/images/Jobs/Part-Time-ON.png') no-repeat !important; }
.job-contract.active { background: url('/Frontend/images/Jobs/Contract-ON.png') no-repeat !important; }
.job-weekend.active { background: url('/Frontend/images/Jobs/Weekends-ON.png') no-repeat !important; }
.job-evenings.active { background: url('/Frontend/images/Jobs/Evenings-ON.png') no-repeat !important; }
.job-home-working.active { background: url('/Frontend/images/Jobs/Home-Working-ON.png') no-repeat !important; }
.job-freelance.active { background: url('/Frontend/images/Jobs/Freelance-ON.png') no-repeat !important; }
.job-wanted.active { background: url('/Frontend/images/Jobs/Wanted-ON.png') no-repeat !important; }
.job-temporary.active { background: url('/Frontend/images/Jobs/Temporary-ON.png') no-repeat !important; }

.custom-card { padding: 20px; }
.custom-card .list-img { padding: 0px; width: 210px;height: 158px; margin: 0 auto; }
.latest-ad-list-dim { margin-bottom:10px; padding:0px; height:112px; }
.landing-page-bg { background-size: cover !important; background-position: center !important; }
.list-dimensions .reg-year {
    padding-left: 26px;
    width: auto;
    margin-right: 8px;
    min-height: 19px;
    line-height: 19px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%22-1408%20462.9%2019%2019%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23ACB0B7%3B%7D%0D%0A%3C/style%3E%3Ctitle%3EReg%20year%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-261.000000%2C%20-1680.000000%29%22%3E%3Cg%20transform%3D%22translate%2819.000000%2C%2021.000000%29%22%3E%3Cg%20transform%3D%22translate%285.000000%2C%201580.000000%29%22%3E%3Cg%20transform%3D%22translate%28237.000000%2C%2079.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-1390.5%20466.1h-2.9v-1.5c0-0.7-0.5-1.2-1.2-1.2%20-0.6%200-1.2%200.5-1.2%201.2v1.5h-5.3v-1.5c0-0.7-0.5-1.2-1.2-1.2%20-0.6%200-1.2%200.5-1.2%201.2v1.5h-2.9c-0.5%200-0.9%200.4-0.9%200.9v13.2c0%200.5%200.4%200.9%200.9%200.9h15.8c0.5%200%200.9-0.4%200.9-0.9V467C-1389.6%20466.5-1390%20466.1-1390.5%20466.1L-1390.5%20466.1zM-1401.8%20470.2h2.8v2.4h-2.8V470.2zM-1397.8%20470.2h2.8v2.4h-2.8V470.2zM-1405.4%20470.2h2.5v2.4h-2.5V470.2zM-1405.4%20473.8h2.5v1.8h-2.5V473.8zM-1401.8%20473.8h2.8v1.8h-2.8V473.8zM-1401.8%20476.8h2.8v2.4h-2.8V476.8zM-1397.8%20476.8h2.8v2.4h-2.8V476.8zM-1397.8%20473.8h2.8v1.8h-2.8V473.8zM-1393.9%20473.8h2.5v1.8h-2.5V473.8zM-1393.9%20470.2h2.5v2.4h-2.5V470.2zM-1405.4%20476.8h2.5v2.4h-2.5V476.8zM-1393.9%20476.8h2.5v2.4h-2.5V476.8z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat
}

.list-dimensions .mileage {
    padding-left: 26px;
    margin-right: 8px;
    min-height: 19px;
    line-height: 19px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%22-390%20226%2019%2019%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23ACB0B7%3B%7D%0D%0A%3C/style%3E%3Ctitle%3EMileage%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cg%20transform%3D%22translate%28-326.000000%2C%20-1680.000000%29%22%3E%3Cg%20transform%3D%22translate%2819.000000%2C%2021.000000%29%22%3E%3Cg%20transform%3D%22translate%285.000000%2C%201580.000000%29%22%3E%3Cg%20transform%3D%22translate%28302.000000%2C%2079.000000%29%22%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-380.5%20228.4c-3.7%200-6.8%203-6.8%206.8%200%200.2%200.2%200.4%200.4%200.4%200.2%200%200.4-0.2%200.4-0.4%200-0.3%200-0.6%200.1-0.9l1%200.2c0%200%200%200%200%200%200.1%200%200.2-0.1%200.2-0.2%200-0.1-0.1-0.3-0.2-0.3l-1-0.2c0.1-0.5%200.3-1%200.6-1.5l0.9%200.5c0%200%200.1%200%200.1%200%200.1%200%200.2%200%200.2-0.1%200.1-0.1%200-0.3-0.1-0.3l-0.9-0.5c0.3-0.5%200.6-0.9%201-1.2l0.7%200.8c0%200.1%200.1%200.1%200.2%200.1%200.1%200%200.1%200%200.2-0.1%200.1-0.1%200.1-0.2%200-0.3l-0.7-0.8c0.4-0.3%200.9-0.6%201.4-0.8l0.4%201c0%200.1%200.1%200.2%200.2%200.2%200%200%200.1%200%200.1%200%200.1%200%200.2-0.2%200.1-0.3l-0.4-1c0.5-0.2%201-0.3%201.6-0.3v1c0%200.1%200.1%200.2%200.2%200.2s0.2-0.1%200.2-0.2v-1c0.6%200%201.1%200.1%201.6%200.3l-0.4%201c0%200.1%200%200.3%200.1%200.3%200%200%200.1%200%200.1%200%200.1%200%200.2-0.1%200.2-0.2l0.4-1c0.5%200.2%201%200.5%201.4%200.8l-0.7%200.8c-0.1%200.1-0.1%200.2%200%200.3%200%200%200.1%200.1%200.2%200.1%200.1%200%200.1%200%200.2-0.1l0.7-0.8c0.4%200.4%200.8%200.8%201.1%201.3l-0.9%200.5c-0.1%200.1-0.2%200.2-0.1%200.3%200%200.1%200.1%200.1%200.2%200.1%200%200%200.1%200%200.1%200l0.9-0.5c0.3%200.5%200.4%201%200.6%201.6l-1.1%200.2c-0.1%200-0.2%200.1-0.2%200.3%200%200.1%200.1%200.2%200.2%200.2%200%200%200%200%200%200l1.1-0.2c0%200.3%200.1%200.5%200.1%200.8%200%200.2%200.2%200.4%200.4%200.4%200.2%200%200.4-0.2%200.4-0.4C-373.7%20231.5-376.8%20228.4-380.5%20228.4L-380.5%20228.4zM-380.5%20226.2c-5%200-9%204-9%209%200%205%204%209%209%209s9-4%209-9C-371.5%20230.2-375.5%20226.2-380.5%20226.2L-380.5%20226.2zM-380.5%20239.4c-0.8%200-1.4-0.6-1.4-1.4%200-0.8%200.6-1.4%201.4-1.4s1.4%200.6%201.4%201.4C-379.1%20238.8-379.7%20239.4-380.5%20239.4L-380.5%20239.4zM-378.5%20236.5c0%200-0.1-0.1-0.1-0.1l1.2-3.5%20-2.4%202.7c-0.2%200-0.4-0.1-0.6-0.1%20-0.8%200-1.5%200.4-2%201h-5.5c-0.1-0.4-0.1-0.9-0.1-1.3%200-4.2%203.4-7.6%207.6-7.6%204.2%200%207.6%203.4%207.6%207.6%200%200.5%200%200.9-0.1%201.3H-378.5L-378.5%20236.5z%22/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E') no-repeat
}

.list-dimensions .engine {
    background: url('/bundles/fafrontend/images/engine.svg') no-repeat;
    padding-left: 26px;
    margin-right: 8px;
    min-height: 19px;
    line-height: 19px
}

.list-dimensions .fuel-type {
    background: url('/bundles/fafrontend/images/fuel-type.svg') no-repeat;
    padding-left: 26px;
    margin-right: 8px;
    min-height: 19px;
    line-height: 19px
}
.list-dimensions {
    margin: 12px 0 11px;
    font-size: 12px;
    line-height: 18px;
    height: 110px !important;
}

.list-dimensions span {
    padding-left: 12px;
    margin-left: 3px;
    display: inline-block;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%225px%22%20height%3D%225px%22%20viewBox%3D%220%200%205%205%22%20xml%3Aspace%3D%22preserve%22%20enable-background%3D%22new%200%200%205%205%22%3E%0D%0A%20%20%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%20%20%20%20%0D%0A%09.st0%7Bfill%3A%23212527%3B%7D%0D%0A%0D%0A%20%20%3C/style%3E%0D%0A%20%20%3Ctitle%3E%0D%0A%20%20%20%20dot%0D%0A%20%20%3C/title%3E%0D%0A%20%20%3Cdesc%3E%0D%0A%20%20%20%20Created%20with%20Sketch.%0D%0A%20%20%3C/desc%3E%0D%0A%20%20%3Cg%20id%3D%22PAA%22%20sketch%3Atype%3D%22MSPage%22%3E%0D%0A%20%20%20%20%3Cg%20id%3D%22Desktop-HD-For-sale-2%22%20transform%3D%22translate%28-677.000000%2C%20-1589.000000%29%22%20sketch%3Atype%3D%22MSArtboardGroup%22%3E%0D%0A%20%20%20%20%20%20%3Cg%20id%3D%22Phase-1%22%20transform%3D%22translate%28-2.000000%2C%20-127.000000%29%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22_x32_-Describe-your-item%22%20transform%3D%22translate%28459.000000%2C%20414.000000%29%22%20sketch%3Atype%3D%22MSShapeGroup%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22similar-ads%22%20transform%3D%22translate%280.000000%2C%201163.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22similar-ad-1%22%20transform%3D%22translate%280.000000%2C%2032.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Used------Good-Condi-_x2B_-Oval-197-_x2B_-Oval-198%22%20transform%3D%22translate%28183.000000%2C%20102.000000%29%22%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cellipse%20id%3D%22dot%22%20class%3D%22st0%22%20cx%3D%2239.5%22%20cy%3D%227.5%22%20rx%3D%222.5%22%20ry%3D%222.5%22/%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%20%20%3C/g%3E%0D%0A%20%20%20%20%3C/g%3E%0D%0A%20%20%3C/g%3E%0D%0A%3C/svg%3E%0D%0A') no-repeat 0 6px
}
.list-dimensions span {
    margin: 0 0 5px 0;
}
.list-distance {
    font-size: 12px;
    margin: 5px 0 0;
    width: 547px;
    position: absolute;
    bottom: 19px
}

.list-miles {
    float: left;
    padding-left: 17px;
    min-height: 15px;
    background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20x%3D%220%22%20y%3D%220%22%20width%3D%2212%22%20height%3D%2215%22%20viewBox%3D%22-473%20273%2012%2015%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%23212527%3B%7D%0D%0A%3C/style%3E%3Ctitle%3Elocation%20pin%3C/title%3E%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%3Cpath%20class%3D%22st0%22%20d%3D%22M-467%20273c-3.3%200-6%202.6-6%205.8%200%204.3%206%209.2%206%209.2s5.9-4.6%206-9.2C-461%20275.6-463.7%20273-467%20273zM-467%20281c-1.1%200-2-0.9-2-2%200-1.1%200.9-2%202-2%201.1%200%202%200.9%202%202C-465%20280.1-465.9%20281-467%20281z%22/%3E%3C/svg%3E') no-repeat
}

.list-miles b {
    font-size: 14px
}

.list-hr-ago {
    float: right;
    font-style: italic;
}


@media (min-width: 760px) and (max-width: 959px) {
    .landing-header {
        background-position: 100% !important;
        background-repeat: no-repeat !important;
        background-attachment: initial !important;
    }
}
@media (min-width: 320px) and (max-width: 759px) {
    .landing-header {
        height: 260px;
        min-height: 260px;
        background-position: 100% !important;
        background-repeat: no-repeat !important;
        background-attachment: initial !important;
    }
    .landing-header .landing-header-content {
        position: absolute;
    }
    .landing-header h1 {
        font-size: 50px;
    }
    .list-location-box .link-list { column-count: 2 }
}
@media only screen and (orientation: landscape) {
    .landing-header {
        background-attachment: unset !important;
        background-position: center top !important;
    }
}
.motors .popular-items .item-box {
    height: 206px;
}
.explore-price {
    position: absolute;
    left: 0;
    bottom: 15px;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    width: 100%;
    z-index: 3;
}
.homepage-more-items {
    background: #FFFFFF;
    border-radius: 4px;
    position: relative;
    min-height: 340px;
    text-align: center;
    line-height: 320px;
    margin-bottom: 20px;
}
.landing-block .list-location-box .link-list {
    column-count: 4;
}
.landing-divider {    
    box-shadow: 0 1px 0 #FFFFFF;
}
.budget-box {
    list-style: none;
}
.budget-box .budget-field {
    width: 50%;
    float: left;
    position: relative;
}
.budget-box .budget-field span {
    padding: 10px 0px 0 10px;
    position: absolute;
    top: 0;
    left: 0;
}
.budget-box .budget-field input {
    padding-left: 1.5rem;
}
.budget-to-caption {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
}
.body_type_choice {
cursor: pointer;
}
.landing-circles li {
    margin: 0 20px 20px 0px
}
.any-category.active, .car-hatchback.active, .car-coupes.active, .car-saloons.active, .car-convertibles.active, .car-estates.active, .car-mpvs.active, .car-4x4.active {
    background-size: contain;
}
@media (min-width: 760px) and (max-width: 959px) {
    .landing-circles li:first-child {
        margin-left: 0px;
    }
}
@media (min-width: 641px) and (max-width: 759px) {
    .landing-block .list-location-box .link-list {
        column-count: 3;
    }
}
@media only screen and (max-width: 559px) and (min-width: 320px) {
	.landing-desc {
	    display: none;
	}
}
@media (min-width: 320px) and (max-width: 640px) {
    .landing-block .list-location-box .link-list {
        column-count: 2;
    }
}

// For sale
.for-sale .popular-items .item-box {
    height: 206px;
    overflow: hidden;
}

// Property
.all-cap {
    width: 32%;
}
.left-cap {
    float: left;
}
.middle-cap {
    float: none;
    margin-left: 25px;
    margin-right:25px;
}
.right-cap {
    float: right;
}
.find-property .capsule-links {
    margin: 7px 0 33px;
}
.find-property .capsule-links a {
    margin: 0;
    width: 100%;
    float: left;
    height: 40px;
    line-height: 38px;

    padding: 0 16px;
    vertical-align: middle;
    border-radius: 20px;
    white-space: nowrap;
    color: #FFFFFF;
    display: inline-block;    
    text-align: center;
}
.property .landing-circles li, .jobs .landing-circles li {
    margin: 0 20px 20px 0px !important;
}
@media (min-width: 760px) and (max-width: 959px) {
    .property .landing-circles li:first-child {
        margin-left: 0px;
    }
    .distance-budget-md-block {
        display: inline-flex;
    }
    .distance-budget-md-block .buget-block {
        padding: 0 0 0 20px !important;
    }
}

// Animals
.owl-carousel .item .custom-card {
    border: 0px !important;
}
.landing-pet-circles {
    list-style: none;
}
.landing-pet-circles a {
    display: block;
    width: 152px;
    height: 153px;
    text-indent: -9999px;
}
.landing-pet-circles li {
    width: 152px;
    height: 153px;
    float: left;
    margin: 0 26px 19px 0;
}


@media (min-width: 320px) and (max-width: 385px) {
    .landing-pet-circles a {
        width: 130px;
        height: 131px;
    }
    .landing-pet-circles li {
        width: 130px;
        height: 131px;
        margin: 0 15px 19px 0;
    }
    .pets_choice {
        background-size: 130px 131px !important;
    }
}
.custom-card .card-img-top {
    object-fit: none;
}
.custom-card .similar-placeholder {
    border: 0;
    max-height: 160px;
}
.custom-card .card-img-top {
    max-height: 160px;
}
.popular-items .item-box .tricky-link {
    z-index: 5;
}
.homepage-title, .homepage-title-small {
  text-align: center;
  margin-bottom: 49px;
}

.property-landing-circles { margin:auto !important; width: fit-content !important; }
.property-landing-circles a.active { border-radius:4px; }
.landing-circles li, .property-landing-circles a {
  display: inline-block;float: left; width: 112px; height: 112px; text-indent: -9999px; margin: 0 0 20px 20px;
}
.landing-circles a, .landing-circles a:hover, .landing-circles a:focus, .landing-circles a:active, .landing-circles a.active,
.property-landing-circles a, .property-landing-circles a:hover, .property-landing-circles a:focus, .property-landing-circles a:active, .property-landing-circles a.active
{
    background-size: 100% !important;
}
.landing-circles li:first-child {
    margin-left: 2px;
}
