    .read-online-block .media-object{
        display:inline-flex;
    }
    .read-online-block .thumbnail{
        margin-right: 30px;
    }
    .read-online-block ul{
        margin-left: 0px;
        margin-top: 25px;
        list-style-type: none;
    }
    .read-online-block ul li a {
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 24px;
    }

    .read-online-block .media-head{
        font-size: 20px;
        font-weight: 300;
        line-height: 27px;
    }
    .media-image {
        width: 100% !important;
    }

    #img-preview {
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
        box-shadow: 0 0 19px 0 rgba(74,74,74,0.5);
    }

    #img-preview:hover {opacity: 0.7;}

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 40px;
        padding-bottom: 40px;
        left: inherit;
        top: 15%;
        width: 50%;
        height: auto;
        overflow: hidden; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    }

    /* Modal Content (image) */
    .modal-content {
        margin: auto;
        display: block;
        max-width: 400px;
    }

    /* Add Animation */
    .modal-content, #caption {
        -webkit-animation-name: zoom;
        -webkit-animation-duration: 0.6s;
        animation-name: zoom;
        animation-duration: 0.6s;
    }

    @-webkit-keyframes zoom {
        from {-webkit-transform:scale(0)}
        to {-webkit-transform:scale(1)}
    }

    @keyframes zoom {
        from {transform:scale(0)}
        to {transform:scale(1)}
    }

    /* The Close Button */
    .close {
        position: absolute;
        top: 15px;
        right: 35px;
        color: #f1f1f1;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
    }

    .close:hover,
    .close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }

    @media only screen and (max-width: 640px){
        .modal-content {
            width: 100%;
        }
        #myModal{
            left: 0;
            width: 100%;
        }
        .read-online-block {
            padding-left: 0px;
            padding-right: 0px;
        }
        .read-online-block .media-object {
            display: inline-block !important;
        }
        .location-list-ul {
            column-count: 2;
        }
        .read-online-block .media-head{
            font-size: 14px !important;
            line-height: 22px;
            text-align: center;
        }
        .read-online-block .thumbnail {
            margin-right: 0 !important;
        }
        .read-the-friday-ad-o {
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            text-align: center;
        }
    }

