.get_online_decision {
    background: #fff;
    background-image: linear-gradient( 70deg, #fff 0%, #fff 65%, #0da1e9 65%, #0da1e9 100%);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    margin: 0 !important;
}

.get_online_decision .apply-new-block {
    width: 70%;
    display: inline-flex;
    overflow: hidden;
}
.apply-new-car{
    position: absolute;
    bottom: 0;
    left: -15px;
}
.apply-new-car img {
    height: 80px;
}
.get_online_decision .apply-new-block .apply-new-logo img{
    height: 40px;
}
.car_img{
    margin :22px 0px -10px -13px;
}
.get_online_decision .apply-new-left {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.get_online_decision .apply-new-right {
    width: 80%;
    padding: 10px;
}

.get_online_decision h2.detail-head {
    font-size: 25px;
    line-height: 32px;
    margin: 0;
    font-family: 'Poppins-Bold';
}

.get_online_decision h2.detail-foot {
     font-size: 18px;
     color:#0da1e9;
     line-height: 32px;
     margin: 0;
     font-family: 'Poppins-Bold';
 }

.get_online_decision select {
    background-position: right 12px top 6px;
    position: relative;
    background-image: url('/Frontend/images/zutocalc/arrow-down.svg');
    background-repeat: no-repeat;
    height: 35px;
    border: 1px solid #e3e3e3;
    outline: 0;
    padding: 0 10px;
    background-color: #fff;
    font-family: 'Poppins-Regular';
    -webkit-appearance: none;
    -moz-appearance: none;
}

.get_online_decision ul {
    margin-bottom: 0;
    font-family: 'Poppins-Regular';
}

.get_online_decision ul li {
    font-size: 12px;
    line-height: 24px;
    list-style-type: disc;
}

.get_online_decision .button {
    font-size: 14px;
    padding: 6px 30px;
    background-color: #91c50f;
    border-radius: 5px;
    font-weight: 700;
    position: relative;
    height: 35px;
    font-family: 'Poppins-Regular';
}

.get_online_decision .button:hover, .get_online_decision .button:active {
    background-color: #91c50f;
}

.get_online_decision span {
    color: #fff;
    flex-flow:row-reverse ;
    margin-top: 8px;
    display: flex;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Poppins-Regular';
    width: 50px;
}

.get_online_decision .button:after {
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    right: 0;
    top: 7px;
    width: 20px;
    height: 20px;
    font-weight: 700;
    background-size: 7px 12px;
    background-position: center;
}

.get_online_decision .form-new-block {
    width: 30%;
}

.get_online_decision .desktop-form-block {
    width: 100% !important;
    margin-top: 5%;
}

.get_online_decision .form-block-1, .get_online_decision .form-block-2 {
    width: 100%;
    display: inline-flex;
    margin-right: 15px;
}

.get_online_decision .expand-cont {
    width: 100%;
    margin-left: 5px;
}
/* Changes needed in WB only */
#zutoLoanCalcDiv {
    border: 1px solid #e0ded8;
}

@media only screen and (min-width: 760px) {
    .get_online_decision .apply-new-left {
        display: inline-grid !important;
    }
}
/* Changes needed in WB only */
@media only screen and (min-width: 760px) and (max-width: 959px) {
    .get_online_decision .form-block-1, .get_online_decision .form-block-2 {
        width: 49%;
    }

    .get_online_decision .button {
        padding: 6px 20px;
    }

    .get_online_decision {
        background-image: none;
    }

    .get_online_decision .apply-new-right {
        width: 85%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .get_online_decision .apply-new-block {
        width: 100%;
        overflow: hidden;
    }
    .apply-new-car {
        top: 30px;
        right: -15px;
        transform: rotateY(-180deg);
    }
    .apply-new-car img{
        height: 90px;
    }
    .get_online_decision .form-new-block {
        width: 100%;
        display: inline-block;
        background: #0da1e9;
        padding-bottom: 10px;
    }

    .get_online_decision {
        background-image: none;
    }

    .get_online_decision .apply-new-right {
        background-position: top right;
        width: 100%;
    }

    .get_online_decision .mobile-form-block {
        display: inline-flex;
        width: 100% !important;
    }

    .get_online_decision .form-block-1, .get_online_decision .form-block-2 {
        width: 50%;
        display: inline-block;
        margin-right: 15px;
    }

    .get_online_decision .expand-cont {
        margin-left: 0;
    }

    .get_online_decision .form-bottom-logo {
        width: 50%;
        height: 100%;
        padding-top: 0;
        padding-bottom: 0;
    }

    .get_online_decision .mobile-logo-button {
        width: 100%;
        display: inline-flex;
    }

    .get_online_decision .button {
        font-size: 15px;
        font-weight: 700;
        position: relative;
        height: auto;
        margin: 0% 4% 0% 4%;
    }

    .get_online_decision .button:hover, .get_online_decision .button:active {
        background-color: #d56e2c;
    }

    .get_online_decision .button:after {
        right: 7px;
        top: 12px;
        background-size: 9px 15px;
    }
    .get_online_decision span {
        color: #fff;
        flex-flow:column-reverse ;
        margin-top: 8px;
        display: flex;
        font-size: 13px;
        font-weight: bold;
        font-family: 'Poppins-Regular';
    }
}
