@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?56uiwv');
    src:  url('fonts/icomoon.eot?56uiwv#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?56uiwv') format('truetype'),
    url('fonts/icomoon.woff?56uiwv') format('woff'),
    url('fonts/icomoon.svg?56uiwv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="upsell-icon-"], [class*=" upsell-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.upsell-icon-homepage:before {
    content: "\ef8f0";
}
.upsell-icon-highlighted:before {
    content: "\ef8f1";
}
.upsell-icon-top_ad:before {
    content: "\e92d";
}
.upsell-icon-private_number:before {
    content: "\ef8f4";
}
.upsell-icon-boost:before {
    content: "\ef8f5";
}
.upsell-icon-aotw:before {
    content: "\ef8f6";
}
.upsell-icon-caotw:before {
    content: "\e919";
}
.upsell-icon-top:before {
    content: "\e92f";
}

.upsell-icon-class {
    font-size: 22px;
    vertical-align: middle;
}

/* Site based color */
.upsell-credits-panel.gunstar .upsell-icon-class {
    color: #f49900 !important;
}

.upsell-credits-panel.dogsandpuppies .upsell-icon-class {
    color: #69c6e8 !important;
}

.upsell-credits-panel.kittenads .upsell-icon-class {
    color: #e5007e !important;
}

.upsell-credits-panel.birdtrader .upsell-icon-class {
    color: #dd1b20 !important;
}