/*
//--Hero Banner--//
*/

.hero-banner {
    @include media-breakpoint-up(lg) {
        background-image: url('/public/images/homePage-banner-L.png');
        background-position: center;
        min-height: 287px;
    }
    @include media-breakpoint-up(md) {
        background-size: cover;
        min-height: 287px;
    }
    background-image: url('/public/images/homePage-banner-M.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 126px;
    &__block {
        padding-top: 15px;
        @include media-breakpoint-up(md) {
            padding-top: 30px;
        }
        @include media-breakpoint-up(lg) {
            padding-top: 40px;
        }
    }
    &__title {
        @extend .page-title;
        margin-bottom: 8px;
        @include media-breakpoint-up(md) {
            margin-bottom: 10px;
            padding-left: 13px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 18px;
        }
    }
    &__content {
        display: flex;
        justify-content: center;
        padding: 1.3rem 0;
        flex-direction: column;
        @include media-breakpoint-up(sm) {
            flex-direction: row;
        }
    }
    @media screen and (min-width:1600px) {
        max-width: 1074px;
        margin: auto;
        &:before {
            content: '';
            background-color: $color--light-green;
            width: 100%;
            height: 287px;
            position: absolute;
            left: 0;
            z-index: -2;
        }
    }
}