/**
* Block styling
**/

.block {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: flex-start;
    .block__title {
        padding: 1rem;
        background: $color--white;
    }
    .block__content {
        padding: 1rem;
        border-top: none;
    }
}