// friday-ad blog style
.friday-blog {
    margin-top: 20px;
    @include media-breakpoint-up(lg) {
        margin-top: 50px;
    }
    &__title {
        @extend .fad-title;
        margin-bottom: 8px;
        @include media-breakpoint-up(md) {
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 50px;
        }
    }
    &__block {
        border: 1px solid $color--border;
        border-radius: 4px;
        a {
            &:hover {
                text-decoration: none;
            }
            img {
                border-radius: 4px 4px 0 0;
                transition: 0.2s;
                @include media-breakpoint-up(md) {
                    max-height: 130px;
                    object-fit: cover;
                }
                @include media-breakpoint-up(xl) {
                    max-height: 226px;
                }
            }
        }
        &:hover {
            // border: 1px solid $color--hover;
            img {
                transform: scale(1.1);
                transition: 0.2s;
            }
        }
    }
    &__img {
        overflow: hidden;
        border-radius: 4px 4px 0 0;
    }
    &__content {
        padding: 18px 20px 18px;
        @include media-breakpoint-between(md, lg) {
            padding: 15px 10px 18px;
        }
        @include media-breakpoint-up(xl) {
            padding: 20px 20px 19px;
        }
        &--posted {
            color: $color--hover;
            font-size: $font-size--small;
        }
        &--author {
            color: $color--hover;
            font-size: $font-size--small;
        }
    }
    &__text {
        color: $color--primary;
        font-size: $font-size--base;
        margin-bottom: 0;
        line-height: 21px;
        font-family: $font-family-semi-bold;
        margin-bottom: 10px;
    }
    .owl-nav {
        button {
            position: absolute;
            top: 50%;
            color: $color--white;
            margin: 0;
            transition: all 0.3s ease-in-out;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.5) !important;
            height: 100%;
            width: 40px;
            &:focus {
                outline: none;
            }
        }
        button.owl-prev {
            left: 0;
            span {}
        }
        button.owl-next {
            right: 0;
            span {}
        }
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
        @include media-breakpoint-up(lg) {
            margin-top: 53px;
        }
        margin-top: 25px;
        justify-content: center;
        &--cta {
            @extend .green-btn-color;
            cursor: pointer;
            width: 342px;
            color: $color--white;
            padding: 7px 0;
            text-align: center;
            border-radius: 4px;
            font-size: $font-size--base;
            font-family: $font-family-semi-bold;
            &:hover {
                color: $color--white;
            }
        }
    }
}

// friday-ad blog style end