// friday-ad blog style
.friday-blog {
    margin-top: 20px;
    @include media-breakpoint-up(lg) {
        margin-top: 50px;
    }
    &__title {
        color: #212527;
        font-family: $font-family-semi-bold;
        font-size: 18px;
        @include media-breakpoint-up(md) {
            font-size: 24px;
            margin-bottom: 20px;
        }
        @include media-breakpoint-up(lg) {
            font-family: $font-family-medium;
            font-size: 36px;
            margin-bottom: 50px;
        }
        font-weight: 500;
        letter-spacing: 0;
        line-height: 46px;
        text-align: center;
        margin-bottom: 8px;
    }
    &__block {
        border: 1px solid #CBD5D9;
        border-radius: 4px;
        a {
            &:hover {
                text-decoration: none;
            }
            img {
                border-radius: 4px 4px 0 0;
                transition: 0.2s;
                @include media-breakpoint-up(md) {
                    max-height: 130px;
                    object-fit: cover;
                }
                @include media-breakpoint-up(xl) {
                    max-height: 226px;
                }
            }
        }
        &:hover {
            // border: 1px solid #82c148;
            img {
                transform: scale(1.1);
                transition: 0.2s;
            }
        }
    }
    &__img {
        overflow: hidden;
        border-radius: 4px 4px 0 0;
    }
    &__content {
        padding: 18px 20px 18px;
        @include media-breakpoint-between(md, lg) {
            padding: 15px 10px 18px;
        }
        @include media-breakpoint-up(xl) {
            padding: 20px 20px 19px;
        }
        &--posted {
            color: #82c148;
            font-size: 14px;
        }
        &--author {
            color: #82c148;
            font-size: 14px;
        }
    }
    &__text {
        color: #212527;
        font-size: 16px;
        margin-bottom: 0;
        line-height: 21px;
        font-family: $font-family-semi-bold;
        margin-bottom: 10px;
    }
    .owl-nav {
        button {
            position: absolute;
            top: 50%;
            color: #fff;
            margin: 0;
            transition: all 0.3s ease-in-out;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.5) !important;
            height: 100%;
            width: 40px;
            &:focus {
                outline: none;
            }
        }
        button.owl-prev {
            left: 0;
            span {}
        }
        button.owl-next {
            right: 0;
            span {}
        }
    }
    &__btn {
        display: flex;
        justify-content: flex-end;
        @include media-breakpoint-up(lg) {
            margin-top: 53px;
        }
        margin-top: 25px;
        justify-content: center;
        &--cta {
            cursor: pointer;
            width: 342px;
            background: linear-gradient(135deg, #A8DC28 0%, #79D378 100%);
            border: 1px solid #91d851;
            color: #fff;
            padding: 7px 0;
            text-align: center;
            border-radius: 4px;
            font-size: 16px;
            font-family: $font-family-semi-bold;
            &:hover {
                background: linear-gradient(135deg, #85B021 0%, #60A85E 100%);
                border: 1px solid #85b021;
                color: #fff;
            }
            //}
        }
    }
}

// friday-ad blog style end