.marketing-zone {
    min-height: 175px;
    background-color: #3300FF;
    background-color: #3300FF;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 20px;
    @include media-breakpoint-up(md) {
        margin-top: 48px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 80px;
    }
}