.our-reviews {
    margin-top: 20px;
    @include media-breakpoint-up(md) {
        margin-top: 72px;
    }
    &__title {
        @extend .fad-title;
        margin-bottom: 8px;
        @include media-breakpoint-up(md) {
            margin-bottom: 43px;
        }
    }
}