.popular-locations {
    margin-bottom: 20px;
    margin-top: 10px;
    @include media-breakpoint-up(md) {
        margin-bottom: 40px;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: 60px;
        margin-top: 30px;
    }
    &__title {
        margin-bottom: 20px;
        line-height: 24px;
        @include media-breakpoint-up(md) {
            margin-bottom: 25px;
            line-height: 46px;
        }
        @include media-breakpoint-up(lg) {
            margin-bottom: 30px;
        }
    }
    &__block {}
    &__content {
        &--title {
            cursor: pointer;
            background-color: $color--grey;
            height: 40px;
            padding-left: 10px;
            color: $color--primary;
            display: flex;
            align-items: center;
            border-radius: 2px;
            font-size: $font-size--small;
            border: 1px solid $color--border;
            background-image: url('/public/images/plus.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 3px) center;
            background-size: 29px;
            font-family: $font-family-semi-bold;
            &.accord-active {
                background-image: url('/public/images/minus.svg');
                border-radius: 2px 2px 0 0;
            }
        }
        &:last-child {
            .popular-locations__content--title {
                margin-top: 15px;
            }
        }
        &:first-child {
            .popular-locations__list-block {
                @include media-breakpoint-up(xl) {
                    display: block;
                }
            }
        }
    }
    &__list {
        display: none;
        border-radius: 0 0 2px 2px;
        border: 1px solid $color--border;
        border-top: 0;
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 18px 8px 10px;
        @include media-breakpoint-up(xl) {
            padding: 18px 24px 10px;
        }
    }
    &__item {
        flex: 0 1 48%;
        margin-right: 1%;
        padding-bottom: 8px;
        @include media-breakpoint-between(md,
        lg) {
            flex: 0 1 24.5%;
            margin-right: .5%;
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        @include media-breakpoint-up(xl) {
            flex: 0 1 16%;
            margin-right: .5%;
            &:nth-child(6n) {
                margin-right: 0;
            }
        }
    }
    &__link {
        font-size: $font-size--xs-small;
        color: $color--primary;
    }
    &__list-block {
        display: none;
    }
}