<div id="pager" class="d-md-flex mb20">
    <div class="col-md-12 pad-none">
        {% if pagination.getNbPages() == pagination.getCurrentPage() %}
            {% set to = pagination.getNbResults() %}
        {% else %}
            {% set to = pagination.getCurrentPage() * pagination.getMaxPerPage() %}
        {% endif %}
        {% set from = 0 %}
        {% if pagination.getNbResults() %}
            {% set from = ((pagination.getCurrentPage() - 1) * pagination.getMaxPerPage()) + 1 %}
        {% endif %}
        <div class="mt20">Showing <span>{{ from }}</span> to <span>{{ to }}</span> of <span>{{ pagination.getNbResults() }}</span> entries</div>
    </div>
    {% if (pagination.haveToPaginate()) %}
        <div class="col-md-12 pad-none">
            <div class="pagination-centered d-flex justify-content-center justify-content-md-end">
                {{ pagerfanta(pagination, 'foundation_pager_admin') }}
            </div>
        </div>
    {% endif %}
</div>