<link rel="stylesheet" href="{{ asset('/build/css/readFridayAdOnline.css') }}">
<div class="col-md-24 offset-md-0 col-lg-16 offset-lg-4 read-online-block">
    <div class="media-object">
        <div class="media-object-section order-md-14 order-lg-14">
            <h6 class="media-head">Choose from the available locations below</h6>
            <ul class="location-list-ul mb10">
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=c50972b1-d10a-4356-84e2-8d09a3530b93" target="_blank">Brighton</a>
                </li>
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=398dcec4-2114-410f-8484-943e89602ad0" target="_blank">Crawley</a>
                </li>
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=7297cfac-ef93-4fba-95af-dd8a02f632fd" target="__blank">Eastbourne</a>
                </li>
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=8fb5f3d9-7213-417f-9b15-bae6c6daad59" target="_blank">Hastings</a>
                </li>
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=207e2563-a527-43a0-add9-d15eb349790f" target="_blank">Seaford</a>
                </li>
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=32dc5305-7502-4d5e-8ea3-938521ae57db" target="__blank">Tunbridge Wells</a>
                </li>
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=2e098523-cbbf-4254-8f7c-f73b46aaa4c4" target="_blank">Uckfield</a>
                </li>
                <li>
                    <a href="http://edition.pagesuite-professional.co.uk/Launch.aspx?PBID=26c9ade6-0fd7-464c-9944-88bd7b54f8bf" target="_blank">Worthing</a>
                </li>
            </ul>
        </div>
        <div class="media-object-section media-image order-md-10 order-lg-10">
            <div class="thumbnail">
                <img src="/bundles/fafrontend/images/read-online.png" class="img-fluid">
            </div>
        </div>
    </div>
</div>