/**
*********************
* Variables
********************
**/


/**
  * Font sizes and spacing/widths
  * -----------------------------------------------------------------------------
  */


/* Font familys */

$font-family--primary: "Poppins Regular";
$font-family--secondary: "Helvetica Neue Medium";
$font-family-medium: "Poppins Medium";
$font-family-light: "Poppins Light";
$font-family-semi-bold: "Poppins SemiBold";
$font-family-bold: "Poppins Bold";
$font-family--secondary-light: "Helvetica Neue Light";

/* Font weight */

$font--light: 300;
$font--regular: 400;
$font--semibold: 600;
$font--bold: 700;

/* Custom theme Font sizes */

$font-size--xxxs-small: 10px;
$font-size--xxs-small: 12px;
$font-size--xs-small: 13px;
$font-size--small: 14px;

/*Footer links -14px*/

$font-size--base: 16px;

/*Normal font - 16px*/

$font-size--large: 3.5rem;

/*56px*/

$font-size--heading-one: 36px;

/*heading - large - 40px,*/

$font-size--heading-two: 24px;

/*Block heading - 24px*/

$font-size--heading-three: 22px;

/*Block heading - 22px*/

$font-size--heading-four: 18px;

/*Block heading - 18px*/

// $font-size--heading-five: 1.375rem;
// $font-size--heading-six:1.0625rem;
// $font-size--medium: 0.9375rem;
// $font-size--lead: 1.125rem;

/* Transitions */

$transition-time--base: 0.25s;

/* Breakpoints */

$bp-xs-smaller-than-mobile:"max-width: 23.44rem" !default;
$bp-smaller-than-mobile: "max-width: 40rem" !default;
$bp-smaller-than-tablet: "max-width: 64rem" !default;
$bp-smaller-than-desktop: "max-width: 75rem" !default;
$bp-larger-than-mobile: "min-width: 40rem" !default;
$bp-larger-than-tablet: "min-width: 64rem" !default;
$bp-larger-than-desktop: "min-width: 75rem" !default;

/* Spacings and widths */

$layout--container-max-width: 76.875rem;
$grid-columns: 12;
$grid--gutter: 1rem;
$spacing--small: 0.5rem;
$spacing--medium: 1rem;
$spacing--large: 1.5rem;

/** Button settings **/

$button--padding-left: 1.125rem !default;
$button--padding-right: 2.75rem !default;
$button--padding-top: 0.75rem !default;
$button--padding-bottom: 0.75rem !default;
$button--horizontal-padding: $button--padding-left;
$button--vertical-padding: $button--padding-top;

/** Menu settings **/

$menu--link-padding-left: 1rem;
$menu--link-padding-right: 1rem;
$menu--link-padding-top: 0.75rem;
$menu--link-padding-bottom: 0.75rem;
$menu--link-padding-horizontal: 1rem;
$menu--link-padding-vertical: 0.75rem;
$menu--submenu-min-width: 12.5rem;