/* ==========================================================================
   Button
   ========================================================================== */


/**/

.button {
    @include transition($transition-time--base all ease-in-out);
    position: relative;
    display: inline-block;
    padding: .75rem 1rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: $color--black;
    border: 0;
    border-radius: 2px;
    background-color: $color--white;
    font-size: 1rem;
    font-weight: $font--bold;
    &:hover {
        color: $color--white;
        background-color: $color--primary;
        text-decoration: none;
    }
    &.button--rounded {
        border-radius: .4rem;
    }
    &.button--outline {
        color: $color--primary;
        border: 1px solid $color--primary;
        background: $color--white;
        &:hover {
            color: $color--primary;
            border-color: $color--primary;
            background: $color--white;
        }
    }
}

.btn-rounded {
    @include transition($transition-time--base all ease-in-out);
    cursor: pointer;
    font-family: $font-family-semi-bold;
    text-align: center;
    padding: 10px 38px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    background: linear-gradient(135deg, #EE316F 0%, #FE8A7A 100%);
    border-radius: 4px;
    color: #fff;
    display: block;
    &:hover {
        background: linear-gradient(135deg, #BE2858 0%, #CA6C61 100%);
        color: #fff;
        text-decoration: none;
    }
    &:focus {
        background: linear-gradient(135deg, #BE2858 0%, #CA6C61 100%);
        color: #fff;
    }
}