/* ==========================================================================
   Link.scss settings
   ========================================================================== */


/**/

a {
    text-decoration: none;
    color: #212527;
    &:hover {
        color: $color--hover;
        text-decoration: none;
    }
    &:focus {
        color: $color--hover;
    }
}