/* ==========================================================================
   Link.scss settings
   ========================================================================== */


/**/

h1,
h2,
h3,
h4,
h5,
h6 {
    // font-family: $font-family--primary;
    // line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

.fad-title {
    color: $color--primary;
    font-family: $font-family-semi-bold;
    font-size: $font-size--heading-four;
    letter-spacing: 0;
    line-height: 46px;
    text-align: center;
    @include media-breakpoint-up(md) {
        font-size: $font-size--heading-two;
    }
    @include media-breakpoint-up(xl) {
        font-family: $font-family-medium;
        font-size: $font-size--heading-one;
    }
}

.page-title {
    color: $color--primary;
    font-family: $font-family-medium;
    font-size: $font-size--heading-four;
    letter-spacing: 0;
    line-height: 46px;
    @include media-breakpoint-up(md) {
        font-size: $font-size--heading-one;
    }
}

// h1 {
//     font-size: $font-size--heading-one;
//     font-weight: $font--bold;
// }
// h2 {
//     font-size: $font-size--heading-two;
//     font-weight: $font--regular;
// }
// h3 {
//     font-size: $font-size--heading-three;
//     font-weight: $font--regular;
// }
// h4 {
//     font-size: $font-size--heading-four;
//     font-weight: $font--semibold;
// }