.adult {
    .top-navigation {
        .navigation-right {
            &__block {
                &.logged {
                    .navigation-right__item {
                        &:hover {
                            &:first-child {
                                .arrow-icon {
                                    color: $color--primary;
                                    @include media-breakpoint-up(xl) {
                                        background-image: url('/public/images/adult/purple-up.svg');
                                        color: $color--ad-secondary;
                                    }
                                    &.rotate-icon {
                                        @include media-breakpoint-between(md,
                                        lg) {
                                            background-image: url('/public/images/adult/purple-up.svg');
                                            color: $color--ad-secondary;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.login {}
            }
            &__item {}
            &__link {
                &.basket-icon {
                    background-image: url('/public/images/adult/adult-basket-icon.svg');
                }
                &.message-icon {
                    background-image: url('/public/images/adult/messages.svg');
                }
                &:hover {
                    color: $color--ad-secondary;
                }
            }
        }
    }
    // .menu-dropdown {
    //     @include media-breakpoint-up(xl) {
    //         &:hover {
    //             .dropdown-content {
    //                 display: block;
    //                 transform: translateY(5px);
    //             }
    //         }
    //     }
    //     .dropdown-content-toggle {
    //         display: block;
    //         transform: translateY(5px);
    //     }
    // }
    .dropdown-content {
        &__block {
            &:last-child {
                .dropdown-content__link {
                    color: $color--ad-secondary;
                }
            }
        }
        &__link {
            &:hover {
                color: $color--ad-secondary;
            }
            &.home-icon {
                background-image: url('/public/images/adult/dashboard/DBHome.svg');
            }
            &.messages-icon {
                background-image: url('/public/images/adult/dashboard/messages.svg');
                position: relative;
            }
            &.account-icon {
                background-image: url('/public/images/adult/dashboard/Account.svg');
            }
            &.manage-item-icon {
                background-image: url('/public/images/adult/dashboard/MMA.svg');
            }
            &.manage-profile-icon {
                background-image: url('/public/images/adult/dashboard/Edit-profile.svg');
            }
            &.orders-icon {
                background-image: url('/public/images/adult/dashboard/Orders.svg');
            }
            &.my-favourites-icon {
                background-image: url('/public/images/adult/dashboard/Favourite.svg');
            }
            &.alerts-icon {
                background-image: url('/public/images/adult/dashboard/Alerts.svg');
            }
            &.purchase-icon {
                background-image: url('/public/images/adult/dashboard/Purchases.svg');
            }
            &.reviews-icon {
                background-image: url('/public/images/adult/dashboard/reviews.svg');
            }
        }
    }
    /*main navigation start*/
    .main-navigation {
        .main-navigation__block {
            .brand {
                padding-top: 15px;
                @include media-breakpoint-up(md) {
                    padding-top: 0px;
                }
                .logo {
                    img {
                        width: 180px;
                        @include media-breakpoint-only(md) {
                            width: 210px;
                        }
                        @include media-breakpoint-up(lg) {
                            width: auto;
                        }
                    }
                }
            }
        }
        .main-menu {
            &__list {
                display: flex;
                list-style: none;
                margin: 0;
                padding: 11px 0 0 0;
                @include media-breakpoint-up(md) {
                    padding: 0;
                }
                >.main-menu__item {
                    .main-menu__link {}
                }
            }
            &__item {
                &.go-to-fadhome {
                    display: none;
                    @include media-breakpoint-up(md) {
                        display: block;
                    }
                }
                &:first-child {
                    padding-top: 0px;
                    @include media-breakpoint-up(md) {
                        margin-right: 25px;
                        padding-top: 7px;
                    }
                }
                &:last-child {
                    .main-menu__link {
                        &.btn-rounded {
                            @extend .purple-btn-color-light-three;
                            @include media-breakpoint-up(md) {
                                background: linear-gradient(45deg, #A75BD8 0%, #C60A84 100%);
                                border: 0;
                                &:hover {
                                    @include transition($transition-time--base all ease-in-out);
                                    background: linear-gradient(45deg, #8645AA 0, #9D086A 100%);
                                    border: 0;
                                }
                            }
                        }
                        @include media-breakpoint-only(md) {
                            padding: 10px 16px;
                        }
                        &:hover {
                            color: $color--white;
                        }
                    }
                }
                &.mega-dropdown {
                    .menu-hamburger {
                        &.menu-green-icon {
                            background-image: url('/public/images/adult/menu-icon-purple.svg');
                            color: $color--primary;
                        }
                        &:hover {
                            .dropdown-icon {
                                @include media-breakpoint-up(xl) {
                                    background-image: url('/public/images/adult/purple-up.svg');
                                    color: $color--ad-secondary;
                                }
                                &.cat-rotate-icon {
                                    background-image: url('/public/images/adult/purple-up.svg');
                                    color: $color--ad-secondary;
                                }
                            }
                        }
                    }
                    &:hover {
                        .dropdown-icon {
                            @include media-breakpoint-up(xl) {
                                background-image: url('/public/images/adult/purple-up.svg');
                                color: $color--ad-secondary;
                            }
                        }
                        .dropdown-icon {
                            @include media-breakpoint-up(md) {
                                background-image: url('/public/images/adult/purple-up.svg');
                                color: $color--ad-secondary;
                            }
                            &.cat-rotate-icon {
                                background-image: url('/public/images/adult/purple-up.svg');
                                color: $color--ad-secondary;
                            }
                        }
                    }
                }
                &.post-btn {
                    @include media-breakpoint-up(md) {
                        display: none;
                    }
                    .post-icon {
                        background-image: url('/public/images/adult/adult-post-icon.svg');
                        &:hover {
                            color: $color--ad-secondary;
                        }
                    }
                }
            }
            &__link {
                &.left-arrow {
                    background-image: url('/public/images/adult/left-arrow.svg');
                    background-repeat: no-repeat;
                    background-position-x: left;
                    background-size: 24px;
                    background-position-y: center;
                    @include media-breakpoint-up(md) {
                        background-position-y: -1px;
                    }
                    padding-left: 24px;
                    &:hover {
                        @include media-breakpoint-up(md) {
                            background-image: url('/public/images/adult/purple-left-arrow.svg');
                        }
                    }
                }
                &:hover {
                    color: $color--ad-secondary;
                }
                &:focus {
                    color: $color--ad-secondary;
                }
                &.dropdown-icon {
                    &:hover {
                        color: $color--ad-secondary;
                    }
                }
                @include media-breakpoint-down(sm) {
                    padding: 8px 10px;
                }
                &.search-icon {
                    &.top-search-show {
                        background-image: url('/public/images/adult/purple-search-icon.svg');
                    }
                }
            }
        }
    }
    // Dropdown list binds to JS toggle event
    .nav-dropdown {
        &__block {
            justify-content: flex-start;
            -ms-flex-align: center;
            flex-direction: row;
            flex-wrap: wrap;
            @include media-breakpoint-up(md) {
                padding: 30px 0 20px 20px;
            }
        }
        &__item {
            @include media-breakpoint-up(md) {
                flex: 0 1 23%;
                margin-right: 2%;
                padding: 0px 0px 20px;
            }
            &.sub-menu {
                &:hover {
                    .nav-dropdown__link {
                        color: $color--primary;
                        @include media-breakpoint-up(md) {
                            &:after {
                                content: unset;
                            }
                        }
                        @include media-breakpoint-up(xl) {
                            position: relative;
                            &:after {
                                content: unset;
                            }
                        }
                    }
                }
                .nav-dropdown__link {
                    &:hover {
                        color: $color--ad-secondary;
                    }
                }
            }
        }
        &__link {
            padding: 13px 10px 2px 10px;
            display: inline;
            @include media-breakpoint-up(md) {
                padding: 0px;
                font-family: $font-family--primary;
                cursor: pointer;
            }
            &:hover {
                color: $color--ad-secondary;
                text-decoration: none;
            }
        }
    }
    .menu-toggle {
        display: block;
    }
    .search-sticky {
        @include media-breakpoint-up(md) {
            display: none;
        }
        &__input {
            outline: 0;
            height: 40px;
            width: 100%;
            line-height: 40px;
            margin: 12px 0 16px;
            color: $color--primary;
            border: 1px solid $color--border;
            -webkit-border-radius: 4px;
            border-radius: 4px;
            font-size: $font-size--xs-small;
            margin: 0px 0 12px;
            background-image: url('/public/images/green-search-icon.svg');
            background-repeat: no-repeat;
            background-position: calc(100% - 10px) center;
            background-size: 20px;
            background-position-y: center;
            &:focus {
                outline: 0;
                background-color: $color--white;
                border: 1px solid $color--green;
            }
        }
    }
    // Mobile menu style starts
    .nav-mobile {
        .nav-dropdown {
            background-color: $color--primary;
            margin-left: 0;
            // height: 100vh;
            top: 58px;
            .menu-accordion {
                margin-left: 0;
                margin-bottom: 0;
            }
            &__block {
                display: none;
                background-color: $color--primary;
            }
            &__link {
                font-size: $font-size--xxs-small;
                background-repeat: no-repeat;
                background-position-y: center;
                background-size: 22px;
                background-position-x: 10px;
                padding: 0px 10px 0px 45px;
                display: flex;
                align-items: center;
                height: 34px;
                color: $color--white;
                font-family: $font-family-bold;
                &.home-icon {
                    background-image: url('/public/images/adult/dashboard/DBHome.svg');
                }
                &.dashboard-icon {
                    background-image: url('/public/images/adult/dashboard/DBHome.svg');
                }
                &.messages-icon {
                    background-image: url('/public/images/adult/dashboard/messages.svg');
                    position: relative;
                    .notify-badge {
                        top: 9px;
                        right: auto;
                        left: 106px;
                    }
                }
                &.account-icon {
                    background-image: url('/public/images/adult/dashboard/Account.svg');
                }
                &.manage-item-icon {
                    background-image: url('/public/images/adult/dashboard/MMA.svg');
                }
                &.manage-profile-icon {
                    background-image: url('/public/images/adult/dashboard/Edit-profile.svg');
                }
                &.orders-icon {
                    background-image: url('/public/images/adult/dashboard/Orders.svg');
                }
                &.my-favourites-icon {
                    background-image: url('/public/images/adult/dashboard/Favourite.svg');
                }
                &.alerts-icon {
                    background-image: url('/public/images/adult/dashboard/Alerts.svg');
                }
                &.purchase-icon {
                    background-image: url('/public/images/adult/dashboard/Purchases.svg');
                }
                &.reviews-icon {
                    background-image: url('/public/images/adult/dashboard/reviews.svg');
                }
                &.adult-contacts {
                    background-image: url('/public/images/adult/categories/adult-contacts.svg');
                }
                &.escort-services {
                    background-image: url('/public/images/adult/categories/Escort-services.svg');
                }
                &.adult-massage {
                    background-image: url('/public/images/adult/categories/Massage.svg');
                }
                &.fetish-roleplay {
                    background-image: url('/public/images/adult/categories/fetish-roleplay.svg');
                }
                &.gay-male-escorts {
                    background-image: url('/public/images/adult/categories/Gay-Male-Escort.svg');
                }
                &.adult-industry-jobs {
                    background-image: url('/public/images/adult/categories/industry-jobs.svg');
                }
                &.escort-alternative {
                    background-image: url('/public/images/adult/categories/escort-alternative.svg');
                }
                .ad-count {
                    color: $color--light-grey;
                    font-family: $font-family--primary;
                    padding-left: 8px;
                }
            }
            &__item {
                &.logout {
                    border-top: 1px solid $color--border;
                    .nav-dropdown__link {
                        padding-left: 10px;
                    }
                }
                border-bottom: 1px solid $color--black;
                box-shadow: 0 1px 0 0px $color--shadow-grey;
                &:last-child {
                    border-bottom: 0;
                    box-shadow: unset;
                }
            }
        }
        .main-menu__item {
            display: block;
            background-color: $color--grey30;
            border-top: 1px solid $color--primary;
            &:last-child {
                display: block;
            }
            &.goPaAdBtn {
                display: block;
                padding: 15px 10px;
                background-color: $color--primary;
                .main-menu__link {
                    padding: 20px 10px;
                    font-size: $font-size--heading-four;
                }
            }
            &.basket-notify {
                span {
                    padding-top: 0;
                }
                .notify-badge {
                    left: 50px;
                    top: -7px;
                }
                .main-menu__link {
                    position: relative;
                }
            }
            &.login-register {
                display: flex;
                .main-menu__link {
                    flex: 0 1 50%;
                    &:first-child {
                        border-right: 1px solid $color--primary;
                    }
                }
            }
        }
        .main-menu__item {
            .main-menu__link {
                text-transform: uppercase;
                font-family: $font-family-bold;
                color: $color--white;
                &.accordion-link {
                    background-image: url('/public/images/arrow-down-white.svg');
                    background-repeat: no-repeat;
                    background-position-x: calc(100% - 10px);
                    background-position-y: center;
                    strong {
                        position: relative;
                        font-weight: normal;
                        .notify-badge {
                            top: -17px;
                            right: -5px;
                        }
                    }
                    &:hover {
                        color: $color--white;
                    }
                }
                &.active {
                    background-image: url('/public/images/arrow-up-white.svg');
                    // border-bottom: 1px solid $color--border;
                }
                &.btn-rounded {
                    text-transform: unset;
                }
            }
        }
        .nav-dropdown-menu-show {
            transition: all .2s ease-out;
            height: 100%;
            top: 0;
            transform: translateX(0);
            z-index: 1;
            .nav-dropdown__menu--item {
                padding: 0;
                .nav-dropdown__menu--link {
                    height: 37px;
                    font-size: $font-size--xxs-small;
                    display: flex;
                    align-items: center;
                    padding-left: 50px;
                    padding-right: 10px;
                }
                &.back-title {
                    border-top: 1px solid $color--border;
                    border-bottom: 1px solid $color--border;
                    .nav-dropdown__menu--link {
                        padding-left: 10px;
                        height: 40px;
                    }
                }
                &.dropdown-title {
                    .nav-dropdown__link {
                        // padding-left: 50px;
                    }
                }
                &:nth-child(n+3) {
                    >.nav-dropdown__menu--link {
                        background-image: url('/public/images/dark-next.svg');
                        background-repeat: no-repeat;
                        background-position-x: calc(100% - 10px);
                        background-position-y: center
                    }
                }
            }
            .nav-dropdown__link {
                padding-left: 50px;
            }
        }
        .home-icon {
            background-image: url('/public/images/home-icon.svg');
            background-repeat: no-repeat;
            background-position-x: calc(100% - 10px);
            background-position-y: center
        }
    }
}

//Adult header style close