{% set container = fetch_container_instance() %}
{% set seoToolPopularSearchRepository = fetch_repository('FaContentBundle:SeoToolPopularSearch') %}
{% set popularSearchArray = seoToolPopularSearchRepository.getPopularSearchArrayBySeoToolId(seoFields['seo_tool_id'], container) %}
{% if popularSearchArray|length %}
    <div class="popular-search {{ popularSearchArray|length == 1 ? 'min-keywords': ''}}">
        <ul class="popular-search--block">
            <li class="popular-search--title">{{'Popular Searches'|trans({}, 'frontend-left--popular-search')}}:</li>
            <!---loop starts-->
            {% for popularSearch in popularSearchArray %}
                <li class="popular-search--item">
                    <a href="{{ seoToolPopularSearchRepository.getPopularSearchUrl(popularSearch['url'], cookieLocationDetails, mapFlag, container) }}" class="popular-search--link">
                        {{ popularSearch['title'] }}
                    </a>
                </li>
            {% endfor %}
            <!---loops end-->
        </ul>
        <div class="popular-search--toggle" id="toggleSearch"></div>
    </div>
{% endif %}
<script>
    $(document).ready(function() {
        function pupularSearchToggle() {
            $('#toggleSearch').click(function(e) {
                $(this).toggleClass('arrow-rotate-icon');
                $('.popular-search').toggleClass("toggleSearchShow");
            });
        }
        var div_height = $('.popular-search--block').height();
        var vertical_div_top_position = $('.popular-search--block').offset().top;
        var lastchild_height = $('.popular-search--block').children('li:last-child').height();
        var vertical_lastchild_top_position = $('.popular-search--block').children('li:last-child').offset().top;
        var vertical_lastchild_bottom_position = lastchild_height + vertical_lastchild_top_position;
        var real_height = vertical_lastchild_bottom_position - vertical_div_top_position;
        if (real_height > div_height) {
            $('#toggleSearch').css('visibility', 'visible');
            pupularSearchToggle();
        } else {
            $('#toggleSearch').css('visibility', 'hidden');
        }
    });
</script>
<style>
    .popular-search {
        flex-direction: row;
        flex-wrap: nowrap;
        display: flex;
        height: 74px;
        margin-bottom: 10px;
        margin-top: 5px;
        overflow: hidden;
        justify-content: space-between;
    }
    @media only screen and (min-width: 768px) {
        .popular-search {
            height: 39px;
            margin: 0;
        }
    }
    @media only screen and (min-width: 1200px) {
        .popular-search {
            height: 44px;
        }
    }
    .popular-search--block {
        display: flex;
        margin: 2px 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        flex: 0 1 776px;
    }
    @media only screen and (max-width: 767px) {
        .popular-search--block li:nth-child(2) {
            margin-right: 0;
        }
        .popular-search--link {
            min-width: 75px;
            max-width: 118px;
        }
        .min-keywords {
            height: 38px;
        }
    }
    @media only screen and (min-width: 768px) {
        .popular-search--block li :nth-child(2) {
            margin-right: 16px;
        }
    }
    .popular-search--title {
        font-size: 16px;
        color: #212527;
        font-family: poppins-semibold;
        margin-right: 20px;
        margin-right: 12px;
    }
    .popular-search--item {
        height: 28px;
        border: 1px solid #82C148;
        border-radius: 4px;
        display: flex;
        align-items: center;
        margin: 0px 14px 8px 0px;
        cursor: pointer;
    }
    @media only screen and (min-width: 768px) {
        .popular-search--item {
            margin: 0px 8px 10px 0px;
        }
    }
    @media only screen and (min-width: 1200px) {
        .popular-search--item {
            margin: 0px 16px 16px 0px;
        }
    }
    .popular-search--item:last-child {
        margin: 0 0 20px 0;
    }
    .popular-search--link {
        padding: 0px 4px;
        color: #82C148;
        font-size: 14px;
        letter-spacing: 0;
        line-height: 16px;
        font-family: poppins-semibold;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    @media only screen and (min-width: 768px) {
        .popular-search--link {
            padding: 0 12px;
        }
    }
    @media only screen and (min-width: 992px) {
        .popular-search--link {
            padding: 0 12px;
        }
    }
    @media only screen and (min-width: 1200px) {
        .popular-search--link {
            padding: 0 17px;
        }
    }
    .popular-search--toggle {
        cursor:pointer;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("/bundles/faad/images/dark-down-arrow.svg");
        margin-top: 48px;
        margin-right: 5px;
        width: 30px;
        height: 9px;
        display: flex;
        align-items: center;
    }
    @media only screen and (min-width: 768px) {
        .popular-search--toggle {
            width: 11px;
            margin-top: 11px;
            margin-right: 10px;
        }
    }
    .popular-search--toggle.arrow-rotate-icon {
        background-image: url("/bundles/faad/images/dark-up-arrow.svg");
    }
    .toggleSearchShow {
        height: auto;
        overflow: visible;
        margin-bottom: 0;
    }
</style>