{% set adRepository = fetch_repository('FaAdBundle:Ad') %}
<div class="row">
    {% if pagination.getNbResults() %}
        {% for favouriteAdArray in pagination.getCurrentPageResults() %}
            <div class="col-sm-24 col-md-12 col-lg-8 mb20">
                {{ include('FaUserBundle:MyFavourite:adDetail.html.twig', {'favouriteAdArray': favouriteAdArray}) }}
            </div>
        {% endfor %}
    {% else %}
        {{ 'No records found.'|trans({}, 'frontend-my-favourites') }}
    {% endif %}
</div>