{% set userLogosArray = myMessagesParameters['userLogosArray'] %}
{% set messageDetailArray = myMessagesParameters['messageDetailArray'] %}
{% set totalMsgCount = myMessagesParameters['totalMsgCount'] %}
{% set unreadUserAdMsgCount = myMessagesParameters['unreadUserAdMsgCount'] %}
{% set unreadUserInterestedAdMsgCount = myMessagesParameters['unreadUserInterestedAdMsgCount'] %}
{{ include('FaMessageBundle:AdMessage:messageTabs.html.twig') }}
    <div class="tab-content">
        <div class="tab-pane fade show active" id="all_msg" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="my-msg-main">
                <div class="manage-item-list my-msg-box">
                    <a href="/inbox/reply/receiver/1908942/" class="tricky-link">Giedrius </a>
                    <div class="media">
                        <div class="my-msg-usericon mr-3">
                            <img src="https://fmtinew.friday-ad.co.uk/bundles/fafrontend/images/user-icon.svg" alt="Giedrius  - Friday-Ad" class="pvt-no-img rounded-circle">
                        </div>
                        <div class="media-body my-msg-content">
                            <div class="my-msg-heading">
                                <h3 class="s-h3 mb5">Siva P.</h3>
                                <div class="list-created-hours">
                                    <span class="attach-icon">Created 12 days ago</span>
                                    <div class="delete-msg-icon d-none d-md-block">
                                        <div class="delete-msg-caption">Delete</div>
                                        <a href="javascript:void(0);" class="delete-msg">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="my-msg-title mb5">
                                <b>test advert</b>
                            </h5>
                            <div class="my-msg-desc">
                                reply from app
                            </div>
                        </div>
                    </div>
                </div>
                <div class="manage-item-list my-msg-box">
                    <a href="/inbox/reply/receiver/1908942/" class="tricky-link">Giedrius </a>
                    <div class="media">
                        <div class="my-msg-usericon mr-3">
                            <img src="https://fmtinew.friday-ad.co.uk/bundles/fafrontend/images/user-icon.svg" alt="Giedrius  - Friday-Ad" class="pvt-no-img rounded-circle">
                        </div>
                        <div class="media-body my-msg-content">
                            <div class="my-msg-heading">
                                <h3 class="s-h3 mb5">Siva P.</h3>
                                <div class="list-created-hours">
                                    <span class="attach-icon">Created 12 days ago</span>
                                    <div class="delete-msg-icon d-none d-md-block">
                                        <div class="delete-msg-caption">Delete</div>
                                        <a href="javascript:void(0);" class="delete-msg">Delete</a>
                                    </div>
                                </div>
                            </div>
                            <h5 class="my-msg-title mb5">
                                <b>test advert</b>
                            </h5>
                            <div class="my-msg-desc">
                                reply from app
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="about_your_ads" role="tabpanel" aria-labelledby="nav-profile-tab">
            You don't have any messages yet.
        </div>
        <div class="tab-pane fade" id="ads_interest_in" role="tabpanel" aria-labelledby="nav-profile-tab">
            You don't have any messages yet.
        </div>
    </div>
<div class="tab-content">
    <div class="row">
        <div class="columns">
            <div id="msg_div" style="display:none;"></div>
        </div>
    </div>

    {% if pagination.getNbResults() %}
        <div class="row ">
            <div class="columns">
                <div class="my-msg-main">
        {% for arrayMessage in messageDetailArray %}
            {{ include('FaMessageBundle:AdMessage:messageDetail.html.twig') }}
        {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row ">
            <div class="columns">
                <div><br>{{ "You don't have any messages yet, but we're sure you will get some very soon."|trans({}, 'frontend-dashboard') }}</div>
            </div>
        </div>
    {% endif %}
</div>