{% set userLogosArray = myMessagesParameters['userLogosArray'] %}
{% set messageDetailArray = myMessagesParameters['messageDetailArray'] %}
{% set totalMsgCount = myMessagesParameters['totalMsgCount'] %}
{% set unreadUserAdMsgCount = myMessagesParameters['unreadUserAdMsgCount'] %}
{% set unreadUserInterestedAdMsgCount = myMessagesParameters['unreadUserInterestedAdMsgCount'] %}
{{ include('FaMessageBundle:AdMessage:messageTabs.html.twig') }}
<div class="tab-content">
    <div class="tab-pane fade show active">
        <div class="my-msg-main">
            {% if pagination.getNbResults() %}
                {% for arrayMessage in messageDetailArray %}
                    {{ include('FaMessageBundle:AdMessage:messageDetail.html.twig') }}
                {% endfor %}
            {% else %}
                <div class="p15">{{ "You don't have any messages yet, but we're sure you will get some very soon."|trans({}, 'frontend-dashboard') }}</div>
            {% endif %}
        </div>
    </div>
</div>