<li class="notification-link dropdown" id="notification-l">
    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Notifications (<span id="notification_head_count">{{count}}</span>)<b class="f-caret"></b></a>|
    <div id="notification-menu"  data-dropdown-content="" class="f-dropdown open" aria-hidden="false" style="position: absolute; left: 0px; top: 34px;">
        <div id="notification-area"></div>
   </div>
</li>