<li class="notification-link" id="notification-l">
    <a href="javascript:void(0);" class="dropdown notification-link needsclick" data-dropdown="notification-menu" aria-controls="notification-menu">Notifications <span>(<span id="notification_head_count">{{count}}</span>)</span></a>|
    <div id="notification-menu" data-dropdown-content class="f-dropdown" aria-hidden="true">
        <div id="notification-area"></div>
   </div>
</li>