<a href="#" class="custom_hc_widget_trigger">
	<img src="https://theme.zdassets.com/theme_assets/2200685/808d18bc265849b0b407aeae9da2c6b902742bbf.svg" />
</a>
<div class="custom_hc_widget">
  	<div class="chcw_header">
  		Help
  		<a href="#" class="custom_hc_widget_close_trigger">
  			<img src="https://theme.zdassets.com/theme_assets/2200685/7900b669e336b6c5ae3928aa5f03967d3d715f62.svg" />
  			Close
  		</a>
  	</div> 
	{# <iframe class="chcw_content" src="{{'/zendeskhelp.php?url='~url }}"></iframe>#}
</div>
<script language="javascript" type="text/javascript">
	window.FCSP = '33f6a5cd6543e26d4aa9b6382adf4874';
</script>
<script src="https://chat-assets.frontapp.com/v1/chat.bundle.js"></script>
<script language="javascript" type="text/javascript">
    FrontChat('init', {
      useDefaultLauncher: false,
      //userHash: '633f17171b8625504c46af1db007739a'
    });
    function runfrontchatfun() {
    	ga('send', 'event', 'help widget', 'contact');
		FrontChat('show');
    }
</script>
<script language="javascript" type="text/javascript">
//<![CDATA[
$(document).ready(function() {
  $(".custom_hc_widget_trigger").click(function(event){
    event.preventDefault();
    ga('send', 'event', 'help widget', 'open');
    $(this).hide();
    $(".custom_hc_widget").addClass('expanded');
    $("body").addClass('noscroll');
  });
  
  $(".custom_hc_widget_close_trigger").click(function(event){
    event.preventDefault();
    ga('send', 'event', 'help widget', 'close');
    $(".custom_hc_widget").removeClass('expanded');
    $("body").removeClass('noscroll');
    $(".custom_hc_widget_trigger").show();
  });

    $(document).on('click touchend', function (event) {
        $(".custom_hc_widget").css({"-webkit-overflow-scrolling": "touch"});
    });

});
//]]>
</script>