{% if currentRoute == 'ad_edit' %}
    {{ include('FaAdBundle:AdPost:dragDropMessage.html.twig') }}
{% endif %}
<a class="left-off-canvas-toggle show-for-small-only db-menu-link" id="menu_off_canvas_anchor" href="javascript:void(0);">{{'Open menu'|trans({}, 'frontend-dashboard-left-menu')}}</a>