<div id="oneClickEnquireInfoModal" class="modal custom-modal small">
	   <div class="modal-dialog"><div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title save-search-title no-icon-title">{{'Still available?'|trans({}, 'frontend-show-ad')}}</h5>
		    <button class="close-modal" class="close" data-dismiss="modal">×</button>
		</div>
        <div class="modal-body">
           <div class="container">
                <div class="row">
                    <div class="enquire-img">enquire</div>
                    <p>{{"Want to know if this item is still available? One click of the 'Still available?' button will alert the seller of your interest and prompt an immediate response."|trans({}, 'frontend-show-ad')}}</p>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <a class="secondary-btn-1 button expand mb0" href="javascript:void(0)" onclick="return gotItOneClickEnqInfo();">Got It</a>
                </div>
            </div>
       </div>
    </div></div>
</div>

<script language="javascript" type="text/javascript">
//<![CDATA[
function gotItOneClickEnqInfo()
{
    blockPage();
    $.ajax({
        type: "POST",
        url: "{{path('got_it_one_click_enq_ajax')}}",
    })
    .done(function(response) {
        unblockPage();
        closeRevealModel('#oneClickEnquireInfoModal');
    });
}
//]]>
</script>