<div id="upgradeSuccessPaymentModal" class="modal custom-modal tiny remove-item-modal upgrade-modal">
 	<div class="modal-dialog"><div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title save-search-title">Upgrade</h5>
		    <button class="close-modal" class="close" data-dismiss="modal">×</button>
		</div>
        <div class="modal-body">
		<div class="col-lg-24 col-md-24 mt20">
            <div data-alert="" class="alert alert-box success radius">
                <span class="alert-icon">&nbsp;</span>
                Success: your had has been upgraded
            </div>
        </div>
        <div class="mt20 remove-item-btn">
            <div class="container">
                <div class="row">
                    <button type="button" class="btn btn-block secondary-btn-1 thin-btn continue-btn">Continue</button>
                </div>
            </div>
    	</div>
    	<div class="mt20 remove-item-btn">
            <div class="container">
                <div class="row">
                	<a href="{{ path('manage_my_ads_active') }}">
                    	<button type="button" class="btn secondary-btn-2 thin-btn btn-block"">Manage My Ads</button>
                	</a>
                </div>
            </div>
    	</div>
    	</div></div>
 	</div>
</div>
