<div id="zutoLoanCalcDiv">
    <div class="row get_online_decision">
        <div class="apply-new-block columns">
            <div class="apply-new-left apply-new-logo hide-for-small-only">
                <img src="/bundles/faad/images/Zuto-Logo-Strap-Stacked.png" />
            </div>
            <div class="apply-new-car">
                <img src="https://devnew.friday-ad.co.uk/bundles/faad/images/car.png" />
            </div>
            <div class="apply-new-right">
                <h2 class="detail-head hide-for-small-only">Car finance made simple</h2>
                <h2 class="detail-head show-for-small-only">Get an online <br> decision today!</h2>
                <ul>
                    <li>Free vehicle history check</li>
                    <li>No impact on credit score</li>
                    <li>100+ options, 16 lenders & no admin fees</li>
                </ul>
                <h2 class="detail-foot hide-for-small-only">GET AN ONLINE DECISION TODAY! </h2>
            </div>
        </div>
        <div class="form-new-block columns">
            <div class="desktop-form-block mobile-form-block">
                <div class="form-block-1">
                    <div>
                        <span>Borrow</span>
                    </div>
                    <div class="expand-cont">
                        <select name="loan_amount" id="loan_amount">
                            <option value="2000">&#163; 2000</option>
                            <option value="3000">&#163; 3000</option>
                            <option value="4000">&#163; 4000</option>
                            <option value="5000" selected>&#163; 5000</option>
                            <option value="6000">&#163; 6000</option>
                            <option value="7000">&#163; 7000</option>
                            <option value="8000">&#163; 8000</option>
                            <option value="9000">&#163; 9000</option>
                            <option value="10000">&#163; 10000</option>
                            <option value="11000">&#163; 11000</option>
                            <option value="12000">&#163; 12000</option>
                            <option value="13000">&#163; 13000</option>
                            <option value="14000">&#163; 14000</option>
                            <option value="15000">&#163; 15000</option>
                            <option value="16000">&#163; 16000</option>
                            <option value="17000">&#163; 17000</option>
                            <option value="18000">&#163; 18000</option>
                            <option value="19000">&#163; 19000</option>
                            <option value="20000">&#163; 20000</option>
                            <option value="21000">&#163; 21000</option>
                            <option value="22000">&#163; 22000</option>
                            <option value="23000">&#163; 23000</option>
                            <option value="24000">&#163; 24000</option>
                            <option value="25000">&#163; 25000</option>
                            <option value="26000">&#163; 26000</option>
                            <option value="27000">&#163; 27000</option>
                            <option value="28000">&#163; 28000</option>
                            <option value="29000">&#163; 29000</option>
                            <option value="30000">&#163; 30000</option>
                            <option value="31000">&#163; 31000</option>
                            <option value="32000">&#163; 32000</option>
                            <option value="33000">&#163; 33000</option>
                            <option value="34000">&#163; 34000</option>
                            <option value="35000">&#163; 35000</option>
                            <option value="36000">&#163; 36000</option>
                            <option value="37000">&#163; 37000</option>
                            <option value="38000">&#163; 38000</option>
                            <option value="39000">&#163; 39000</option>
                            <option value="40000">&#163; 40000</option>
                            <option value="41000">&#163; 41000</option>
                            <option value="42000">&#163; 42000</option>
                            <option value="43000">&#163; 43000</option>
                            <option value="44000">&#163; 44000</option>
                            <option value="45000">&#163; 45000</option>
                            <option value="46000">&#163; 46000</option>
                            <option value="47000">&#163; 47000</option>
                            <option value="48000">&#163; 48000</option>
                            <option value="49000">&#163; 49000</option>
                            <option value="50000">&#163; 50000</option>
                        </select>
                    </div>
                </div>
                <div class="form-block-2">
                    <div>
                        <span>Over</span>
                    </div>
                    <div class="expand-cont">
                        <select name="loan_period" id="loan_period">
                            <option value="24" selected>24 months</option>
                            <option value="36">36 months</option>
                            <option value="48">48 months</option>
                            <option value="60">60 months</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="mobile-logo-button">
                <div class="form-bottom-logo show-for-small-only">
                    <img src="/bundles/faad/images/Zuto-Logo-Strap-Stacked.png" class="logo_img"/>
                </div>
                <button class="secondary-btn-1 button expand" id="zuto_loan_calc">GET QUOTE NOW</button>
            </div>
        </div>
    </div>
</div>
