<div class="medium-24 columns">
<a href="javascript:void(0)" class="element_toggle tab-down m-pop-click" id=""><span class="adult-down-arrow"></span><span class="adult-up-arrow" style="display: none;"></span></a>
<div class="m-pop-1" id="popular-dropdown">   
        <a href="/uk/adult-services/adult-massage/" class="xs-btn-1 button thin-btn btn-transparent ga-ahpPopularSearch">Erotic Massage</a>
        <a href="/uk/adult-services/escorts/mature/" class="xs-btn-1 button thin-btn btn-transparent ga-ahpPopularSearch">Mature Escorts</a>
        <a href="/uk/adult-services/escorts/ebony/" class="xs-btn-1 button thin-btn btn-transparent ga-ahpPopularSearch">Ebony Escorts</a>
        <a href="/uk/adult-services/escorts/thai/" class="xs-btn-1 button thin-btn btn-transparent ga-ahpPopularSearch">Thai Escorts</a>
        <a href="/uk/adult-services/escorts/british/" class="xs-btn-1 button thin-btn btn-transparent ga-ahpPopularSearch">British Escorts</a>
        <a href="/uk/adult-services/escorts/asian/" class="xs-btn-1 button thin-btn btn-transparent ga-ahpPopularSearch">Asian Escorts</a>
        <a href="/uk/adult-services/escorts/latina/" class="xs-btn-1 button thin-btn btn-transparent ga-ahpPopularSearch">Latina Escorts</a>
    </div>
    <a href="javascript:void(0)" class="element_toggle tab-down" id="element_toggle_number_of_bedrooms_id"><span class="paa-tab-arrow" style="width: 25px;position: absolute; top: 0; right: 5px;"></span></a>
</div>
       