<div class="owl-carousel fa-slider" id="featured_advertisers_slider" data-equalizer>
    {% set userRepository = fetch_repository('FaUserBundle:User') %}
    {% for businessExposureUsersDetail in businessExposureUsersDetails %}
        {% set adUserId = businessExposureUsersDetail['user_id'] %}
        {% set shopName = businessExposureUsersDetail['user_name'] %}
        {% set profilePageUrl = container.get('fa_ad.manager.ad_routing').getProfilePageUrl(adUserId) %}
        <div class="item" data-equalizer-watch>
            <a class="tricky-link" href="{{ profilePageUrl }}">{{ shopName }}</a>
            {% set userCompanyLogo = staticCall('Fa\\Bundle\\CoreBundle\\Manager\\CommonManager', 'getUserLogo', [container, businessExposureUsersDetail['company_logo'], businessExposureUsersDetail['user_id'], null, null, true, true, businessExposureUsersDetail['status_id'], businessExposureUsersDetail['user_name']]) %}
            {% set userName = businessExposureUsersDetail['user_name'] %}
            <div class="list-img">
                {{ userCompanyLogo|raw }}
            </div>
            <h3>
               {{ shopName }}
            </h3>
        </div>
    {% endfor %}
</div>