{% set userSearchAgentRepository  = fetch_repository('FaUserBundle:UserSearchAgent') %}
{% if pagination.getNbResults() %}
    {% for searchAgent in pagination.getCurrentPageResults() %}
        {{ include('FaUserBundle:UserSearchAgent:searchAgentDetail.html.twig') }}
    {% endfor %}
{% else %}
    <div class="p15">{{ 'No records found.'|trans({}, 'frontend-manage-my-ad') }}</div>
{% endif %}

