{% extends 'FaCoreBundle::layout.html.twig' %}
{% block title %}
    {% trans %}FiareAds - User registration success{% endtrans %}
{% endblock %}
{% block content %}
  <h2>Thank you for registration!</h2>
{% endblock %}