<div class="modal-dialog"><div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title save-search-title">
			<span style="background-color: #FCF5AE; padding: 4px;border-radius: 50%; border:1px solid #E6C61F;margin-right: 10px;"><i class="" style="font-style: normal !important;font-weight: normal !important; padding: 6px;color: #E6C61F;line-height: 20px;">!</i></span> Ads error
			</h5>
		    <button class="close-modal" id="ad-error-reveal-close" class="close" data-dismiss="modal">×</button>
		</div>
		<div class="modal-body remove-modal">
            <div class="container">
                <div class="row">
                    <h5><strong>Error</strong></h5>
                    <div class="mt20">{{app.session.get('paa-lite-error')}}</div>
                </div>
            </div>
            <div class="mt20 remove-item-btn">
                <div class="container">            
                    <div class="row">
                        <button type="button" class="button secondary-btn-1 thin-btn expand" id="manage_my_ad_error_link">Continue</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>