<a class="close-reveal-modal" id="ad-live-reveal-close">×</a>
<h5 class="modal-title">
   Ad is live
</h5>
<div class="modal-content remove-modal">
    <div class="row">
        <div class="columns center">
            <div><img src="{{ asset_url('fafrontend/images/adisLive.png') }}" alt=""></div>
            <h2>Your ad has been placed</h2>
        </div>
    </div>
    <div class="mt20 remove-item-btn">
        <div class="row">
            <div class="columns">
                <button type="button" class="button secondary-btn-1 thin-btn expand" id="manage_my_ad_link">Manage my ads</button>
            </div>
        </div>
    </div>
</div>
