<div class="modal-dialog"><div class="modal-content">
		<div class="modal-header">
			<h5 class="modal-title save-search-title">Ad is live</h5>
		    <button class="close-modal" class="close" data-dismiss="modal">×</button>
		</div>
        <div class="modal-body">
            <div class="container">
                <div class="row center">
                    <div><img class="img-fluid" src="{{ asset_url('fafrontend/images/adisLive.png') }}" alt=""></div>
                    <h2>Your ad has been placed</h2>
                </div>
            </div>
            <div class="mt20 remove-item-btn">
                <div class="container">
                    <div class="row">
                        <button type="button" class="button secondary-btn-1 thin-btn expand" id="manage_my_ad_link">Manage my ads</button>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
