<a class="close-reveal-modal" id="ad-limit-reveal-close">×</a>
<h5 class="modal-title">
   <span style="background-color: #FCF5AE; padding: 4px;border-radius: 50%; border:1px solid #E6C61F;margin-right: 10px;"><i class="" style="font-style: normal !important;font-weight: normal !important; padding: 6px;color: #E6C61F;line-height: 20px;">!</i></span> Ads limit 
</h5>
<div class="modal-content remove-modal">
    <div class="row">
        <div class="columns">
            <h5><strong>Maximum number of adverts reached</strong></h5>
            <div class="mt20">Sorry you've reached the maximum number of ads one user can place from this page</div>
        </div>
    </div>
    <div class="mt20 remove-item-btn">
        <div class="row">
            
            <div class="columns">
                <button type="button" class="button secondary-btn-1 thin-btn expand" id="manage_my_ad_limit_link">Continue</button>
            </div>
        </div>
    </div>
</div>